# 8장 종합문제

## Q1 문자열 바꾸기
다음과 같은 문자열이 있다.

`a:b:c:d`

문자열의 split와 join 함수를 사용하여 위 문자열을 다음과 같이 고치시오.

`a#b#c#d`

## A1

In [2]:
'#'.join('a:b:c:d'.split(':'))

'a#b#c#d'

## Q2 딕셔너리 값 추출하기
다음은 딕셔너리의 a에서 'C'라는 key에 해당하는 value를 출력하는 프로그램이다.

```python
>>> a = {'A':90, 'B':80}
>>> a['C']
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
KeyError: 'C'
```

a 딕셔너리에는 'C'라는 key가 없으므로 위와 같은 오류가 발생한다. 'C'에 해당하는 key 값이 없을 경우 오류 대신 70을 얻을 수 있도록 수정하시오.

## A2

In [1]:
a = {'A':90, 'B':80}
try:
    print(a['C'])
except:
    print(70)

70

## Q3 리스트의 더하기와 extend 함수
다음과 같은 리스트 a가 있다.

`>>> a = [1, 2, 3]`

리스트 a에 [4, 5]를 + 기호를 사용하여 더한 결과는 다음과 같다.

```python
>>> a = [1, 2, 3]
>>> a = a + [4,5]
>>> a
[1, 2, 3, 4, 5]
```

리스트 a에 [4,5]를 extend를 사용하여 더한 결과는 다음과 같다.

```python
>>> a = [1, 2, 3]
>>> a.extend([4, 5])
>>> a
[1, 2, 3, 4, 5]
```

`+` 기호를 사용하여 더한 것과 extend한 것의 차이점이 있을까? 있다면 그 차이점을 설명하시오.

## A3
* 동일하다

In [2]:
a = [1, 2, 3]
a = a + [4, 5]
a

[1, 2, 3, 4, 5]

In [3]:
for i, n in enumerate(a):
    print(i, n, id(n))

0 1 1391149869360
1 2 1391149869392
2 3 1391149869424
3 4 1391149869456
4 5 1391149869488

In [4]:
b = [1, 2 ,3]
b.extend([4, 5])
b

[1, 2, 3, 4, 5]

In [5]:
for i, n in enumerate(b):
    print(i, n, id(n))

0 1 1391149869360
1 2 1391149869392
2 3 1391149869424
3 4 1391149869456
4 5 1391149869488

## Q4 리스트 총합 구하기
다음은 A학급 학생의 점수를 나타내는 리스트이다. 다음 리스트에서 50점 이상 점수의 총합을 구하시오.

`A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]`

## A4

In [11]:
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
sum( list(filter(lambda x: x >=50, A)) )

481

In [12]:
filter(lambda x: x >=50, A)

In [13]:
list(filter(lambda x: x >=50, A))

[55, 67, 82, 90, 87, 100]

## Q5 피보나치 함수
첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후에 이어지는 항은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열이라고 한다.

`0, 1, 1, 2, 3, 5, 8, 13, ...`

입력을 정수 n으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해 보자.

## A5

In [19]:
while True:
    try:
        n = int(input('입력한 숫자 이하까지의 피보나치 수열을 출력합니다. 숫자를 입력하세요.(양수를 입력하세요) :'))
        break
    except:
        print('양수를 입력해주세요.')

plist = []
a1, a2 = 0, 1
plist.append(a1)
plist.append(a2)
while True:
    a1, a2 = a2, a1 + a2
    if a2 <= n:
        plist.append(a2)
    else:
        break
print(plist)

양수를 입력해주세요.
양수를 입력해주세요.
[0, 1, 1, 2, 3, 5, 8]

## Q6 숫자의 총합 구하기
사용자로부터 다음과 같은 숫자를 입력받아 입력받은 숫자의 총합을 구하는 프로그램을 작성하시오. (단 숫자는 콤마로 구분하여 입력한다.)

`65,45,2,3,45,8`

## A6

In [9]:
num_list = input("입력한 숫자의 합을 구합니다. 숫자를 입력하세요.(숫자는 콤마로 구분해주세요) :")
temp = num_list.split(',')
print('입력한 숫자들 :', temp)
print('총합: ', sum(list(map(lambda x: int(x), temp))))

입력한 숫자들 : ['1', '2', '3', '4']
총합:  10

In [14]:
num_list = input("입력한 숫자의 합을 구합니다. 숫자를 입력하세요.(숫자는 콤마로 구분해주세요) :")
temp = num_list.split(',')
int_temp = [int(one) for one in temp]
print('입력한 숫자들 :', int_temp)
print('총합: ', sum(int_temp) )

입력한 숫자들 : [1, 2, 3, 4, 5]
총합:  15

## Q7 한 줄 구구단
사용자로부터 2~9의 숫자 중 하나를 입력받아 해당 숫자의 구구단을 한 줄로 출력하는 프로그램을 작성하시오.

실행 예)

```
구구단을 출력할 숫자를 입력하세요(2~9): 2
2 4 6 8 10 12 14 16 18
```

## A7

In [15]:
def gugu(x):
    for i in range(1, 10):
        print(x*i, end=' ')

In [18]:
while True:
    try:
        num = int( input("구구단을 출력할 숫자를 입력하세요(2~9) :"))
        if num >=2 and num <=9:
            gugu(num)
            break
        else:
            print('2~9사이 숫자를 입력하세요.')
    except:
        print('2~9사이 숫자를 입력하세요.')

2~9사이 숫자를 입력하세요.
2~9사이 숫자를 입력하세요.
4 8 12 16 20 24 28 32 36

## Q8 역순 저장
다음과 같은 내용의 파일 abc.txt가 있다.

```
AAA
BBB
CCC
DDD
EEE
```

이 파일의 내용을 다음과 같이 역순으로 바꾸어 저장하시오.

```
EEE
DDD
CCC
BBB
AAA
```

## A8

In [26]:
f = open('abc.txt')
lines = f.readlines()
for line in lines:
    print(line)
f.close()

AAA

BBB

CCC

DDD

EEE

In [32]:
temp_lines = []
for line in lines:
    temp_lines.append(line.strip())
temp_lines

['AAA', 'BBB', 'CCC', 'DDD', 'EEE']

In [34]:
temp_lines.sort(reverse=True)
print(temp_lines)

['EEE', 'DDD', 'CCC', 'BBB', 'AAA']

In [36]:
g = open('cba.txt', 'w')
for one in temp_lines:
    g.write(one + '\n')
g.close()

In [45]:
with open('cba.txt') as f:
    for one in f.readlines():
        print(one.strip())

EEE
DDD
CCC
BBB
AAA

In [37]:
with open('cba2.txt', 'w') as g:
    for one in temp_lines:
        g.write(one + '\n')

In [46]:
with open('cba2.txt') as f:
    for one in f.readlines():
        print(one.strip())

EEE
DDD
CCC
BBB
AAA

## Q9 평균값 구하기
다음과 같이 총 10줄로 이루어진 sample.txt 파일이 있다. sample.txt 파일의 숫자 값을 모두 읽어 총합과 평균 값을 구한 후 평균 값을 result.txt 파일에 쓰는 프로그램을 작성하시오.

```
70
60
55
75
95
90
80
80
85
100
```

## A9

In [52]:
num_list2 = []
with open('sample.txt') as f:
    for one in f.readlines():
        num_list2.append( int(one) )
print(num_list2)
s = sum(num_list2)
print(s)

[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
790

In [53]:
with open('result.txt', 'w') as f:
    f.write( str(s) )

In [54]:
with open('result.txt') as f:
    print(f.read())

790

## Q10 사칙연산 계산기
다음과 같이 동작하는 클래스 Calculator를 작성하시오.
```python
>>> cal1 = Calculator([1,2,3,4,5])
>>> cal1.sum() # 합계
15
>>> cal1.avg() # 평균
3.0
>>> cal2 = Calculator([6,7,8,9,10])
>>> cal2.sum() # 합계
40
>>> cal2.avg() # 평균
8.0
```

## A10

In [55]:
class Calculator:
    def __init__(self, a):
        self.a = a
    def sum(self):
        return print( sum(self.a) )
    def avg(self):
        return print( sum(self.a) / len(self.a) )

In [56]:
cal1 = Calculator([1,2,3,4,5])
cal1.sum()

15

In [57]:
cal1.avg()

3.0

In [61]:
cal2 = Calculator([6,7,8,9,10])
cal2.sum()

40

In [62]:
cal2.avg()

8.0

## Q11 모듈 사용 방법
`C:\doit` 디렉터리에 mymod.py 파이썬 모듈이 있다고 가정해 보자. 명령 프롬프트 창에서 파이썬 셸을 열어 이 모듈을 import해서 사용할 수 있는 방법을 모두 기술하시오. (즉 다음과 같이 `import mymod`를 수행할 때 오류가 없어야 한다.)
```python
>>> import mymod
>>>
```

## A11

## Q12 오류와 예외 처리
다음 코드의 실행 결과를 예측하고 그 이유에 대해 설명하시오.

```python
result = 0

try:
    [1, 2, 3][3]
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4

print(result)
```

## A12
* 7 출력
    * 리스트의 인덱스는 최대가 2인데, 3 인덱스를 호출하니 인덱스 오류 발생. result 값이 3이됨. finally 코드는 최종적으로 무조건 실행하므로 result 값이 7이 됨.

## Q13 DashInsert 함수
DashInsert 함수는 숫자로 구성된 문자열을 입력받은 뒤 문자열 안에서 홀수가 연속되면 두 수 사이에 `-` 를 추가하고, 짝수가 연속되면 `*` 를 추가하는 기능을 갖고 있다. DashInsert 함수를 완성하시오.

```
입력 예시: 4546793
출력 예시: 454*67-9-3
```

## A13

## Q14 문자열 압축하기
문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시하시오.

```
입력 예시: aaabbcccccca
출력 예시: a3b2c6a1
```

## A14

## Q15 Duplicate Numbers
0~9의 문자로 된 숫자를 입력받았을 때, 이 입력값이 0~9의 모든 숫자를 각각 한 번씩만 사용한 것인지 확인하는 함수를 작성하시오.

```
입력 예시: 0123456789 01234 01234567890 6789012345 012322456789
출력 예시: True False False True False
```

## A15

## Q16 모스 부호 해독
문자열 형식으로 입력받은 모스 부호(dot:`.` dash:`-`)를 해독하여 영어 문장으로 출력하는 프로그램을 작성하시오.

글자와 글자 사이는 공백 1개, 단어와 단어 사이는 공백 2개로 구분한다.
예를 들어 다음 모스 부호는 "HE SLEEPS EARLY"로 해석해야 한다.

`.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--`

모스부호 규칙 표

문자|부호|문자|부호
-|-|-|-
A|.-|N|-.
B|-...|O|---
C|-.-.|P|.--.
D|-..|Q|--.-
E|.|R|.-.
F|..-.|S|...
G|--.|T|-
H|....|U|..-
I|..|V|...-
J|.---|W|.--
K|-.-|X|-..-
L|.-..|Y|-.--
M|--|Z|--..

## A16

In [75]:
dict = {'.-':'A', '-...':'B', '-.-.':'C', '-..':'D', '.':'E', '..-.':'F', '--.':'G', '....':'H', '..':'I', '.---':'J', '-.-':'K', '.-..':'L', '--':'M', '-.':'N', '---':'O', '.--.':'P', '--.-':'Q', '.-.':'R', '...':'S', '-':'T', '..-':'U', '...-':'V', '.--':'W', '-..-':'X', '-.--':'Y', '--..':'Z', '':' '}
p = '.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--'
temp = p.split(' ')
temp

['....',
 '.',
 '',
 '...',
 '.-..',
 '.',
 '.',
 '.--.',
 '...',
 '',
 '.',
 '.-',
 '.-.',
 '.-..',
 '-.--']

In [76]:
for one in temp:
    print(dict[one])

H
E

S
L
E
E
P
S

E
A
R
L
Y

In [77]:
trans_list = []
for one in temp:
    trans_list.append(dict[one])
trans_list

['H', 'E', ' ', 'S', 'L', 'E', 'E', 'P', 'S', ' ', 'E', 'A', 'R', 'L', 'Y']

In [78]:
''.join(trans_list)

'HE SLEEPS EARLY'

In [79]:
dict = {'.-':'A', '-...':'B', '-.-.':'C', '-..':'D', '.':'E', '..-.':'F', '--.':'G', '....':'H', '..':'I', '.---':'J', '-.-':'K', '.-..':'L', '--':'M', '-.':'N', '---':'O', '.--.':'P', '--.-':'Q', '.-.':'R', '...':'S', '-':'T', '..-':'U', '...-':'V', '.--':'W', '-..-':'X', '-.--':'Y', '--..':'Z', '':' '}
p = '.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--'

temp = p.split(' ')
trans_list = []
for one in temp:
    trans_list.append(dict[one])
''.join(trans_list)

'HE SLEEPS EARLY'

## Q17 기초 메타 문자
다음 중 정규식 `a[.]{3,}b`과 매치되는 문자열은 무엇일까?

1. `acccb`
2. `a....b`
3. `aaab`
4. `a.cccb`

## A17
* 2번

## Q18 문자열 검색
다음 코드의 결괏값은 무엇일까?

```python
>>> import re
>>> p = re.compile("[a-z]+")
>>> m = p.search("5 python")
>>> m.start() + m.end()
```

## A18
* m.start() = 2
* m.end() = 7
* 결괏값 = 9

## Q19 그루핑
다음과 같은 문자열에서 휴대폰 번호 뒷자리인 숫자 4개를 ####로 바꾸는 프로그램을 정규식을 사용하여 작성하시오.

```
"""
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
"""
```

## A19

In [108]:
import re
p = re.compile(r"(\w+)\s(\d+)[-](\d+)[-](\d+)", re.MULTILINE)
data = '''park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
'''
m = p.search(data)
m.group()

'park 010-9999-9988'

In [109]:
p.findall(data)

[('park', '010', '9999', '9988'),
 ('kim', '010', '9909', '7789'),
 ('lee', '010', '8789', '7768')]

In [110]:
pat = p.sub("\g<1> \g<2>-\g<3>-####", data)
print(pat)

park 010-9999-####
kim 010-9909-####
lee 010-8789-####

In [117]:
import re
p = re.compile(r"(\w+\s\d+[-]\d+)[-](\d+)")
data = '''park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
'''
m = p.search(data)
print(m.group(1))
print(m.group(2))

park 010-9999
9988

In [118]:
print(p.sub("\g<1>-####", data))

park 010-9999-####
kim 010-9909-####
lee 010-8789-####

## Q20 전방 탐색
다음은 이메일 주소를 나타내는 정규식이다. 이 정규식은 park@naver.com, kim@daum.net, lee@myhome.co.kr 등과 매치된다. 긍정형 전방 탐색 기법을 사용하여 .com, .net이 아닌 이메일 주소는 제외시키는 정규식을 작성하시오.

`.*[@].*[.].*$`

In [123]:
p = re.compile(".*[@].*[.](?=com$|net$).*$", re.M)
data = '''park@naver.com
kim@daum.net
lee@myhome.co.kr
'''
print(p.findall(data))

['park@naver.com', 'kim@daum.net']

## A20

# 코드 마지막