# 8장 종합문제

## Q1 문자열 바꾸기
다음과 같은 문자열이 있다.

`a:b:c:d`

문자열의 split와 join 함수를 사용하여 위 문자열을 다음과 같이 고치시오.

`a#b#c#d`

### A1

In [2]:
'#'.join('a:b:c:d'.split(':'))

'a#b#c#d'

In [124]:
'a:b:c:d'.split(':')

['a', 'b', 'c', 'd']

### 답지

In [25]:
a = "a:b:c:d"
b = a.split(":")
b

['a', 'b', 'c', 'd']

In [26]:
c = "#".join(b)
c

'a#b#c#d'

## Q2 딕셔너리 값 추출하기
다음은 딕셔너리의 a에서 'C'라는 key에 해당하는 value를 출력하는 프로그램이다.

```python
>>> a = {'A':90, 'B':80}
>>> a['C']
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
KeyError: 'C'
```

a 딕셔너리에는 'C'라는 key가 없으므로 위와 같은 오류가 발생한다. 'C'에 해당하는 key 값이 없을 경우 오류 대신 70을 얻을 수 있도록 수정하시오.

### A2

In [126]:
a = {'A':90, 'B':80}
try:
    print(a['C'])
except:
    print(70)

70

### 답지

In [128]:
# 답지
a = {'A':90, 'B':80}
a.get('C', 70)

70

## Q3 리스트의 더하기와 extend 함수
다음과 같은 리스트 a가 있다.

`>>> a = [1, 2, 3]`

리스트 a에 [4, 5]를 + 기호를 사용하여 더한 결과는 다음과 같다.

```python
>>> a = [1, 2, 3]
>>> a = a + [4,5]
>>> a
[1, 2, 3, 4, 5]
```

리스트 a에 [4,5]를 extend를 사용하여 더한 결과는 다음과 같다.

```python
>>> a = [1, 2, 3]
>>> a.extend([4, 5])
>>> a
[1, 2, 3, 4, 5]
```

`+` 기호를 사용하여 더한 것과 extend한 것의 차이점이 있을까? 있다면 그 차이점을 설명하시오.

### A3
* 동일하다

In [2]:
a = [1, 2, 3]
a = a + [4, 5]
a

[1, 2, 3, 4, 5]

In [3]:
for i, n in enumerate(a):
    print(i, n, id(n))

0 1 1391149869360
1 2 1391149869392
2 3 1391149869424
3 4 1391149869456
4 5 1391149869488

In [4]:
b = [1, 2 ,3]
b.extend([4, 5])
b

[1, 2, 3, 4, 5]

In [5]:
for i, n in enumerate(b):
    print(i, n, id(n))

0 1 1391149869360
1 2 1391149869392
2 3 1391149869424
3 4 1391149869456
4 5 1391149869488

### 답지
* +로 진행하면 새로운 주소에 리스트를 만든다.
* extend로 진행하면 기존 주소 리스트에 더하는 방식으로 진행된다.

In [129]:
a = [1,2,3]
id(a)

1623222489536

In [131]:
a = a + [4,5]
id(a)

1623222035904

In [132]:
b = [1,2,3]
id(b)

1623222977024

In [133]:
b.extend([4,5])
id(b)

1623222977024

## Q4 리스트 총합 구하기
다음은 A학급 학생의 점수를 나타내는 리스트이다. 다음 리스트에서 50점 이상 점수의 총합을 구하시오.

`A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]`

### A4

In [11]:
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
sum( list(filter(lambda x: x >=50, A)) )

481

In [12]:
filter(lambda x: x >=50, A)

In [13]:
list(filter(lambda x: x >=50, A))

[55, 67, 82, 90, 87, 100]

### 답지

In [134]:
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
result = 0
while A:
    mark = A.pop()
    if mark >= 50:
        result += mark
print(result)

481

## Q5 피보나치 함수
첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후에 이어지는 항은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열이라고 한다.

`0, 1, 1, 2, 3, 5, 8, 13, ...`

입력을 정수 n으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해 보자.

### A5

In [19]:
while True:
    try:
        n = int(input('입력한 숫자 이하까지의 피보나치 수열을 출력합니다. 숫자를 입력하세요.(양수를 입력하세요) :'))
        break
    except:
        print('양수를 입력해주세요.')

plist = []
a1, a2 = 0, 1
plist.append(a1)
plist.append(a2)
while True:
    a1, a2 = a2, a1 + a2
    if a2 <= n:
        plist.append(a2)
    else:
        break
print(plist)

양수를 입력해주세요.
양수를 입력해주세요.
[0, 1, 1, 2, 3, 5, 8]

### 답지
* 재귀호출 활용
1. fib(0) -> 0 반환
2. fib(1) -> 1 반환
3. fib(2) -> fib(0) + fib(1) -> 0 + 1 -> 1 반환
4. fib(3) -> fib(1) + fib(2) -> 1 + 1 -> 2 반환
5. fib(4) -> fib(2) + fib(3) -> 1 + 2 -> 3 반환
6. ...

In [135]:
def fib(n):
    if n == 0: return 0
    if n == 1: return 1
    return fib(n-2) + fib(n-1)

for i in range(10):
    print(fib(i))

0
1
1
2
3
5
8
13
21
34

## Q6 숫자의 총합 구하기
사용자로부터 다음과 같은 숫자를 입력받아 입력받은 숫자의 총합을 구하는 프로그램을 작성하시오. (단 숫자는 콤마로 구분하여 입력한다.)

`65,45,2,3,45,8`

### A6

In [9]:
num_list = input("입력한 숫자의 합을 구합니다. 숫자를 입력하세요.(숫자는 콤마로 구분해주세요) :")
temp = num_list.split(',')
print('입력한 숫자들 :', temp)
print('총합: ', sum(list(map(lambda x: int(x), temp))))

입력한 숫자들 : ['1', '2', '3', '4']
총합:  10

In [138]:
num_list = input("입력한 숫자의 합을 구합니다. 숫자를 입력하세요.(숫자는 콤마로 구분해주세요) :")
temp = num_list.split(',')
int_temp = [int(one) for one in temp]
print('입력한 숫자들 :', int_temp)
print('총합 :', sum(int_temp) )

입력한 숫자들 : [1, 2, 3, 4]
총합 : 10

### 답지

In [137]:
user_input = input("숫자를 입력하세요: ")
numbers = user_input.split(",")
total = 0
for n in numbers:
    total += int(n)    # 입력은 문자열이므로 숫자로 변환해야 한다.
print(user_input)
print(total)

65,45,2,3,45,8
168

## Q7 한 줄 구구단
사용자로부터 2~9의 숫자 중 하나를 입력받아 해당 숫자의 구구단을 한 줄로 출력하는 프로그램을 작성하시오.

실행 예)

```
구구단을 출력할 숫자를 입력하세요(2~9): 2
2 4 6 8 10 12 14 16 18
```

### A7

In [15]:
def gugu(x):
    for i in range(1, 10):
        print(x*i, end=' ')

In [18]:
while True:
    try:
        num = int( input("구구단을 출력할 숫자를 입력하세요(2~9) :"))
        if num >=2 and num <=9:
            gugu(num)
            break
        else:
            print('2~9사이 숫자를 입력하세요.')
    except:
        print('2~9사이 숫자를 입력하세요.')

2~9사이 숫자를 입력하세요.
2~9사이 숫자를 입력하세요.
4 8 12 16 20 24 28 32 36

### 답지

In [139]:
user_input = input("구구단을 출력할 숫자를 입력하세요(2~9):")
dan = int(user_input)       # 입력 문자열을 숫자로 변환
for i in range(1, 10):
    print(i*dan, end= ' ')  # 한 줄로 출력하기 위해 줄 바꿈 문자 대신 공백 문자를 마지막에 출력한다.

2 4 6 8 10 12 14 16 18

## Q8 역순 저장
다음과 같은 내용의 파일 abc.txt가 있다.

```
AAA
BBB
CCC
DDD
EEE
```

이 파일의 내용을 다음과 같이 역순으로 바꾸어 저장하시오.

```
EEE
DDD
CCC
BBB
AAA
```

### A8

In [26]:
f = open('abc.txt')
lines = f.readlines()
for line in lines:
    print(line)
f.close()

AAA

BBB

CCC

DDD

EEE

In [32]:
temp_lines = []
for line in lines:
    temp_lines.append(line.strip())
temp_lines

['AAA', 'BBB', 'CCC', 'DDD', 'EEE']

In [34]:
temp_lines.sort(reverse=True)
print(temp_lines)

['EEE', 'DDD', 'CCC', 'BBB', 'AAA']

In [36]:
g = open('cba.txt', 'w')
for one in temp_lines:
    g.write(one + '\n')
g.close()

In [45]:
with open('cba.txt') as f:
    for one in f.readlines():
        print(one.strip())

EEE
DDD
CCC
BBB
AAA

In [37]:
with open('cba2.txt', 'w') as g:
    for one in temp_lines:
        g.write(one + '\n')

In [46]:
with open('cba2.txt') as f:
    for one in f.readlines():
        print(one.strip())

EEE
DDD
CCC
BBB
AAA

### 답지
* reverse 활용

In [141]:
f = open('abc2.txt', 'r')
lines = f.readlines()    # 모든 라인을 읽음
f.close()

lines.reverse()          # 읽은 라인을 역순으로 정렬

f = open('abc2.txt', 'w')
for line in lines:
    line = line.strip()  # 포함되어 있는 줄 바꿈 문자 제거
    f.write(line)
    f.write('\n')        # 줄 바꿈 문자 삽입
f.close()

## Q9 평균값 구하기
다음과 같이 총 10줄로 이루어진 sample.txt 파일이 있다. sample.txt 파일의 숫자 값을 모두 읽어 총합과 평균 값을 구한 후 평균 값을 result.txt 파일에 쓰는 프로그램을 작성하시오.

```
70
60
55
75
95
90
80
80
85
100
```

### A9

In [142]:
num_list2 = []
with open('sample.txt') as f:
    for one in f.readlines():
        num_list2.append( int(one) )
print(num_list2)
s = sum(num_list2)
avg = s / len(num_list2)
print(s)
print(avg)

[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
790
79.0

In [143]:
with open('result.txt', 'w') as f:
    f.write( str(avg) )

In [144]:
with open('result.txt') as f:
    print(f.read())

79.0

### 답지

In [145]:
f = open("sample2.txt")
lines = f.readlines( )  # sample.txt를 줄 단위로 모두 읽는다.
f.close( )

total = 0
for line in lines:
    score = int(line)  # 줄에 적힌 점수를 숫자형으로 변환한다.
    total += score
average = total / len(lines)

f = open("result2.txt", "w")
f.write(str(average))
f.close()

## Q10 사칙연산 계산기
다음과 같이 동작하는 클래스 Calculator를 작성하시오.
```python
>>> cal1 = Calculator([1,2,3,4,5])
>>> cal1.sum() # 합계
15
>>> cal1.avg() # 평균
3.0
>>> cal2 = Calculator([6,7,8,9,10])
>>> cal2.sum() # 합계
40
>>> cal2.avg() # 평균
8.0
```

### A10

In [2]:
class Calculator:
    def __init__(self, a):
        self.a = a
    def sum(self):
        return print( sum(self.a) )
    def avg(self):
        return print( sum(self.a) / len(self.a) )

In [3]:
cal1 = Calculator([1,2,3,4,5])
cal1.sum()

15

In [57]:
cal1.avg()

3.0

In [61]:
cal2 = Calculator([6,7,8,9,10])
cal2.sum()

40

In [62]:
cal2.avg()

8.0

### 답지

In [4]:
class Calculator:
    def __init__(self, numberList): 
        self.numberList = numberList

    def sum(self): 
        result = 0
        for num in self.numberList: 
            result += num
        return result

    def avg(self):
        total = self.sum()
        return total / len(self.numberList)

cal1 = Calculator([1,2,3,4,5]) 
print(cal1.sum())
print(cal1.avg())

cal2 = Calculator([6,7,8,9,10]) 
print(cal2.sum())
print(cal2.avg())

15
3.0
40
8.0

## Q11 모듈 사용 방법
`C:\doit` 디렉터리에 mymod.py 파이썬 모듈이 있다고 가정해 보자. 명령 프롬프트 창에서 파이썬 셸을 열어 이 모듈을 import해서 사용할 수 있는 방법을 모두 기술하시오. (즉 다음과 같이 `import mymod`를 수행할 때 오류가 없어야 한다.)
```python
>>> import mymod
>>>
```

### A11

### 답지

파이썬 셸에서 mymod.py 모듈을 인식하기 위해서는 다음과 같은 3가지 방법이 있을 수 있다.

1) sys 모듈 사용하기

다음과 같이 `sys.path` 에 `C:\doit` 이라는 디렉터리를 추가하면 `C:\doit` 이라는 디렉터리에 있는 mymod 모듈을 사용할 수 있게 된다.

```python
>>> import sys
>>> sys.path.append("c:/doit")
>>> import mymod
```

2) PYTHONPATH 환경 변수 사용하기

다음처럼 `PYTHONPATH` 환경 변수에 `C:\doit` 디렉터리를 지정하면 `C:\doit` 디렉터리에 있는 mymod 모듈을 사용할 수 있게 된다.

```
C:\Users\home>set PYTHONPATH=c:\doit
C:\Users\home>python
>>> import mymod
```

3) 현재 디렉터리 사용하기

파이썬 셸을 mymod.py가 있는 위치로 이동하여 실행해도 mymod 모듈을 사용할 수 있게 된다. 왜냐하면 `sys.path` 에는 현재 디렉터리인 `.` 이 항상 포함되어 있기 때문이다.

```
C:\Users\home>cd c:\doit
C:\doit>python
>>> import mymod
```

## Q12 오류와 예외 처리
다음 코드의 실행 결과를 예측하고 그 이유에 대해 설명하시오.

```python
result = 0

try:
    [1, 2, 3][3]
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4

print(result)
```

### A12
* 7 출력
    1. 리스트의 인덱스는 최대가 2인데, 3 인덱스를 호출하니 인덱스 오류 발생. result 값이 3이됨. 
    2. finally 코드는 최종적으로 무조건 실행하므로 result 값이 7이 됨.

### 답지

7이 출력된다.

1. result의 초깃값은 0이다.
2. try문 안의 `[1, 2, 3][3]` 이라는 문장 수행 시 `IndexError`가 발생하여 `except IndexError:` 구문으로 이동하게 되어 result에 3이 더해져 3이 된다.
3. 최종적으로 finally 구문이 실행되어 result에 4가 더해져 7이 된다.
4. `print(result)`가 수행되어 result의 최종 값인 7이 출력된다.

## Q13 DashInsert 함수
DashInsert 함수는 숫자로 구성된 문자열을 입력받은 뒤 문자열 안에서 홀수가 연속되면 두 수 사이에 `-` 를 추가하고, 짝수가 연속되면 `*` 를 추가하는 기능을 갖고 있다. DashInsert 함수를 완성하시오.

```
입력 예시: 4546793
출력 예시: 454*67-9-3
```

### A13

### 답지

In [5]:
data = "4546793"
numbers = list(map(int, data))   # 숫자 문자열을 숫자 리스트로 변경
numbers

[4, 5, 4, 6, 7, 9, 3]

In [7]:
result = []

for i, num in enumerate(numbers):
    result.append(str(num))
    if i < len(numbers)-1:                   # 다음 수가 있다면
        is_odd = num % 2 == 1                # 현재 수가 홀수
        is_next_odd = numbers[i+1] % 2 == 1  # 다음 수가 홀수
        if is_odd and is_next_odd:           # 연속 홀수
            result.append("-")
        elif not is_odd and not is_next_odd: # 연속 짝수
            result.append("*")

print("".join(result))

454*67-9-3

## Q14 문자열 압축하기
문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시하시오.

```
입력 예시: aaabbcccccca
출력 예시: a3b2c6a1
```

### A14

#### #1(X)

In [3]:
text = "aaabbcccccca"
for one in text:
    print(one)

a
a
a
b
b
c
c
c
c
c
c
a

In [5]:
text.count('a')

4

In [6]:
count_list = []
for one in text:
    count_list.append(one)
    count_list.append(str(text.count(one)))
count_list

['a',
 '4',
 'a',
 '4',
 'a',
 '4',
 'b',
 '2',
 'b',
 '2',
 'c',
 '6',
 'c',
 '6',
 'c',
 '6',
 'c',
 '6',
 'c',
 '6',
 'c',
 '6',
 'a',
 '4']

In [7]:
sort_count_list = []
for one in count_list:
    if one not in sort_count_list:
        sort_count_list.append(one)
sort_count_list

['a', '4', 'b', '2', 'c', '6']

In [8]:
''.join(sort_count_list)

'a4b2c6'

#### #2

In [9]:
text = "aaabbcccccca"

In [11]:
count = 0
temp = ''
result = ''

for one in text:
    if temp != one:
        temp = one
        if count:
            result += str(count)
        result += one
        count = 1
    else:
        count += 1

if count:
    result += str(count)

print(result)

a3b2c6a1

### 답지
먼저 입력 문자열의 문자를 확인하여 동일한 문자가 들어올 경우에는 해당 문자의 숫자 값을 증가시킨다. 만약 다른 문자가 들어올 경우에는 해당 문자의 숫자 값을 1로 초기화하는 방법을 사용하여 작성한 코드이다.

In [9]:
def compress_string(s):
    _c = ""
    cnt = 0
    result = ""
    for c in s:
        if c != _c:
            _c = c
            if cnt: result += str(cnt)
            result += c
            cnt = 1
        else:
            cnt +=1
    if cnt: result += str(cnt)
    return result

print(compress_string("aaabbcccccca"))  # a3b2c6a1 출력

a3b2c6a1

## Q15 Duplicate Numbers
0~9의 문자로 된 숫자를 입력받았을 때, 이 입력값이 0~9의 모든 숫자를 각각 한 번씩만 사용한 것인지 확인하는 함수를 작성하시오.

```
입력 예시: 0123456789 01234 01234567890 6789012345 012322456789
출력 예시: True False False True False
```

### A15

In [12]:
s = '0123456789'

In [15]:
result = []
for one in s:
    if one not in result:
        result.append(one)
if len(result) == 10:
    print('True')
else:
    print('False')

True

In [16]:
s = '01234'

result = []
for one in s:
    if one not in result:
        result.append(one)
if len(result) == 10:
    print('True')
else:
    print('False')

False

In [20]:
def function(s):
    result = []
    for one in s:
        if one not in result:
            result.append(one)
        else:
            return False
    return len(result) == 10

In [22]:
print(function('01234567890'))
print(function('6789012345'))
print(function('012322456789'))

False
True
False

### 답지

In [10]:
def chkDupNum(s):
    result = []
    for num in s:
        if num not in result:
            result.append(num)
        else:
            return False
    return len(result) == 10

print(chkDupNum("0123456789"))      # True 리턴
print(chkDupNum("01234"))           # False 리턴
print(chkDupNum("01234567890"))     # False 리턴
print(chkDupNum("6789012345"))      # True 리턴
print(chkDupNum("012322456789"))    # False 리턴

True
False
False
True
False

리스트 자료형을 사용하여 중복된 값이 있는지 먼저 조사한다. 중복된 값이 있을 경우는 False를 리턴한다. 최종적으로 중복된 값이 없을 경우 0~9까지의 숫자가 모두 사용되었는지 판단하기 위해 입력 문자열의 숫자 값을 저장한 리스트 자료형의 총 개수가 10인지를 조사하여 10일 경우는 True, 아닐 경우는 False를 리턴한다.

## Q16 모스 부호 해독
문자열 형식으로 입력받은 모스 부호(dot:`.` dash:`-`)를 해독하여 영어 문장으로 출력하는 프로그램을 작성하시오.

글자와 글자 사이는 공백 1개, 단어와 단어 사이는 공백 2개로 구분한다.
예를 들어 다음 모스 부호는 "HE SLEEPS EARLY"로 해석해야 한다.

`.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--`

모스부호 규칙 표

문자|부호|문자|부호
-|-|-|-
A|.-|N|-.
B|-...|O|---
C|-.-.|P|.--.
D|-..|Q|--.-
E|.|R|.-.
F|..-.|S|...
G|--.|T|-
H|....|U|..-
I|..|V|...-
J|.---|W|.--
K|-.-|X|-..-
L|.-..|Y|-.--
M|--|Z|--..

### A16

In [75]:
dict = {'.-':'A', '-...':'B', '-.-.':'C', '-..':'D', '.':'E', '..-.':'F', '--.':'G', '....':'H', '..':'I', '.---':'J', '-.-':'K', '.-..':'L', '--':'M', '-.':'N', '---':'O', '.--.':'P', '--.-':'Q', '.-.':'R', '...':'S', '-':'T', '..-':'U', '...-':'V', '.--':'W', '-..-':'X', '-.--':'Y', '--..':'Z', '':' '}
p = '.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--'
temp = p.split(' ')
temp

['....',
 '.',
 '',
 '...',
 '.-..',
 '.',
 '.',
 '.--.',
 '...',
 '',
 '.',
 '.-',
 '.-.',
 '.-..',
 '-.--']

In [76]:
for one in temp:
    print(dict[one])

H
E

S
L
E
E
P
S

E
A
R
L
Y

In [77]:
trans_list = []
for one in temp:
    trans_list.append(dict[one])
trans_list

['H', 'E', ' ', 'S', 'L', 'E', 'E', 'P', 'S', ' ', 'E', 'A', 'R', 'L', 'Y']

In [78]:
''.join(trans_list)

'HE SLEEPS EARLY'

In [12]:
dict = {'.-':'A', '-...':'B', '-.-.':'C', '-..':'D', '.':'E', '..-.':'F', '--.':'G', '....':'H', '..':'I', '.---':'J', '-.-':'K', '.-..':'L', '--':'M', '-.':'N', '---':'O', '.--.':'P', '--.-':'Q', '.-.':'R', '...':'S', '-':'T', '..-':'U', '...-':'V', '.--':'W', '-..-':'X', '-.--':'Y', '--..':'Z', '':' '}
p = '.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--'

temp = p.split(' ')
trans_list = []
for one in temp:
    trans_list.append(dict[one])
print(''.join(trans_list))

HE SLEEPS EARLY

### 답지

In [11]:
dic = {
    '.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F',
    '--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L',
    '--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R',
    '...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X',
    '-.--':'Y','--..':'Z'
}

def morse(src):
    result = []
    for word in src.split("  "):
        for char in word.split(" "):
            result.append(dic[char])
        result.append(" ")
    return "".join(result)


print(morse('.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--'))

HE SLEEPS EARLY

## Q17 기초 메타 문자
다음 중 정규식 `a[.]{3,}b`과 매치되는 문자열은 무엇일까?

1. `acccb`
2. `a....b`
3. `aaab`
4. `a.cccb`

### A17
* 2번

### 답지
- 2번

In [13]:
import re

p = re.compile("a[.]{3,}b")

print(p.match("acccb"))    # None
print(p.match("a....b"))   # 매치 객체 출력
print(p.match("aaab"))     # None
print(p.match("a.cccb"))   # None

None
<re.Match object; span=(0, 6), match='a....b'>
None
None

## Q18 문자열 검색
다음 코드의 결괏값은 무엇일까?

```python
>>> import re
>>> p = re.compile("[a-z]+")
>>> m = p.search("5 python")
>>> m.start() + m.end()
```

### A18
* m.start() = 2
* m.end() = 7
* 결괏값 = 9

### 답지
- 10
* m.start() = 2
* m.end() = 8

In [14]:
import re

p = re.compile('[a-z]+')
m = p.search("5 python")
print(m.start() + m.end())  # 10 출력

10

In [16]:
a = "5 python"
print(a[2:8])
print(a[2:7])

python
pytho

## Q19 그루핑
다음과 같은 문자열에서 휴대폰 번호 뒷자리인 숫자 4개를 ####로 바꾸는 프로그램을 정규식을 사용하여 작성하시오.

```
"""
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
"""
```

### A19

In [108]:
import re
p = re.compile(r"(\w+)\s(\d+)[-](\d+)[-](\d+)", re.MULTILINE)
data = '''park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
'''
m = p.search(data)
m.group()

'park 010-9999-9988'

In [109]:
p.findall(data)

[('park', '010', '9999', '9988'),
 ('kim', '010', '9909', '7789'),
 ('lee', '010', '8789', '7768')]

In [110]:
pat = p.sub("\g<1> \g<2>-\g<3>-####", data)
print(pat)

park 010-9999-####
kim 010-9909-####
lee 010-8789-####

In [22]:
import re
p = re.compile(r"(\w+\s\d+[-]\d+)[-](\d+)")
data = '''park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
'''
m = p.search(data)
print(m.group(1))
print(m.group(2))

park 010-9999
9988

In [23]:
print(p.sub("\g<1>-####", data))

park 010-9999-####
kim 010-9909-####
lee 010-8789-####

### 답지

In [17]:
import re

s = """
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
"""

pat = re.compile("(\d{3}[-]\d{4})[-]\d{4}")
result = pat.sub("\g<1>-####", s)

print(result)

park 010-9999-####
kim 010-9909-####
lee 010-8789-####

## Q20 전방 탐색
다음은 이메일 주소를 나타내는 정규식이다. 이 정규식은 park@naver.com, kim@daum.net, lee@myhome.co.kr 등과 매치된다. 긍정형 전방 탐색 기법을 사용하여 .com, .net이 아닌 이메일 주소는 제외시키는 정규식을 작성하시오.

`.*[@].*[.].*$`

### A20

In [123]:
p = re.compile(".*[@].*[.](?=com$|net$).*$", re.M)
data = '''park@naver.com
kim@daum.net
lee@myhome.co.kr
'''
print(p.findall(data))

['park@naver.com', 'kim@daum.net']

### 답지

In [24]:
pat = re.compile(".*[@].*[.](?=com$|net$).*$")

print(pat.match("pahkey@gmail.com"))
print(pat.match("kim@daum.net"))
print(pat.match("lee@myhome.co.kr"))

<re.Match object; span=(0, 16), match='pahkey@gmail.com'>
<re.Match object; span=(0, 12), match='kim@daum.net'>
None

# 코드 마지막