In [14]:
a = [1, 2, 3]
b = [4, 5, 6]

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [15]:
a1 = set(a)
a1

{1, 2, 3}

In [16]:
d = {'포유류':['개', '고양이'], '양서류':['개구리', '두꺼비']}
d

{'포유류': ['개', '고양이'], '양서류': ['개구리', '두꺼비']}

In [23]:
a = [x for x in range(10)]
print(*[n for n in a if n < 5])

0 1 2 3 4

In [1]:
import pandas as pd

In [2]:
animals = {'포유류':['개', '고양이'], '양서류':['개구리', '두꺼비']}

In [3]:
animals

{'포유류': ['개', '고양이'], '양서류': ['개구리', '두꺼비']}

In [4]:
animals['포유류']

['개', '고양이']

In [5]:
animals['양서류']

['개구리', '두꺼비']

In [6]:
ani_df = pd.DataFrame(animals)
ani_df

   포유류  양서류
0    개  개구리
1  고양이  두꺼비

In [7]:
articles = {'제목':['일', '이', '삼'], '날짜':['2024.08.12', '2024.08.13', '2024.08.14']}
articles

{'제목': ['일', '이', '삼'], '날짜': ['2024.08.12', '2024.08.13', '2024.08.14']}

In [8]:
art_df = pd.DataFrame(articles)
art_df

  제목          날짜
0  일  2024.08.12
1  이  2024.08.13
2  삼  2024.08.14

In [10]:
titles = []
print(titles)
titles.append('일')
print(titles)
titles.append('이')
print(titles)
titles.append('삼')
print(titles)

[]
['일']
['일', '이']
['일', '이', '삼']

In [11]:
dates = []
print(dates)
dates.append('2024.08.12')
print(dates)
dates.append('2024.08.13')
print(dates)
dates.append('2024.08.14')
print(dates)

[]
['2024.08.12']
['2024.08.12', '2024.08.13']
['2024.08.12', '2024.08.13', '2024.08.14']

In [12]:
articles = {'제목':titles, '날짜':dates}
print(articles)

{'제목': ['일', '이', '삼'], '날짜': ['2024.08.12', '2024.08.13', '2024.08.14']}

In [13]:
art_df = pd.DataFrame(articles)
art_df

  제목          날짜
0  일  2024.08.12
1  이  2024.08.13
2  삼  2024.08.14

In [9]:
titles = ['일', '이', '삼']
dates = ['2024.08.12', '2024.08.13', '2024.08.14']
articles = {'제목':titles, '날짜':dates}
art_df = pd.DataFrame(articles)
art_df

  제목          날짜
0  일  2024.08.12
1  이  2024.08.13
2  삼  2024.08.14

In [1]:
import getpass
password = getpass.getpass('비밀번호 입력 :')