# 브루트 포스

## 2798번 - 블랙잭

- 문제  
    카지노에서 제일 인기 있는 게임 블랙잭의 규칙은 상당히 쉽다. 카드의 합이 21을 넘지 않는 한도 내에서, 카드의 합을 최대한 크게 만드는 게임이다. 블랙잭은 카지노마다 다양한 규정이 있다.

    한국 최고의 블랙잭 고수 김정인은 새로운 블랙잭 규칙을 만들어 상근, 창영이와 게임하려고 한다.

    김정인 버전의 블랙잭에서 각 카드에는 양의 정수가 쓰여 있다. 그 다음, 딜러는 N장의 카드를 모두 숫자가 보이도록 바닥에 놓는다. 그런 후에 딜러는 숫자 M을 크게 외친다.

    이제 플레이어는 제한된 시간 안에 N장의 카드 중에서 3장의 카드를 골라야 한다. 블랙잭 변형 게임이기 때문에, 플레이어가 고른 카드의 합은 M을 넘지 않으면서 M과 최대한 가깝게 만들어야 한다.

    N장의 카드에 써져 있는 숫자가 주어졌을 때, M을 넘지 않으면서 M에 최대한 가까운 카드 3장의 합을 구해 출력하시오.

 - 입력  
    첫째 줄에 카드의 개수 N(3 ≤ N ≤ 100)과 M(10 ≤ M ≤ 300,000)이 주어진다. 둘째 줄에는 카드에 쓰여 있는 수가 주어지며, 이 값은 100,000을 넘지 않는 양의 정수이다.

    합이 M을 넘지 않는 카드 3장을 찾을 수 있는 경우만 입력으로 주어진다.

- 출력  
    첫째 줄에 M을 넘지 않으면서 M에 최대한 가까운 카드 3장의 합을 출력한다.

- 예제 입력1  
    5 21   
    5 6 7 8 9

- 예제 출력1  
    21

- 예제 입력2  
    10 500  
    93 181 245 214 315 36 185 138 216 295  

- 예제 출력2  
    497

In [1]:
a = [1, 3, 2, 4]
sorted(a)

[1, 2, 3, 4]

In [4]:
# N, M = map(int, input().split())
# cards = list(map(int, input().split()))
N, M = 5, 21
cards = [5, 6, 7, 8, 9]
cards = sorted(cards)
need = list(filter(lambda x:x<M, cards))
need

[5, 6, 7, 8, 9]

In [5]:
import itertools
result = []
for s in list(itertools.combinations(need, 3)):
    if sum(s) <= M:
        result.append(sum(s))
print(max(result))

21

In [7]:
import itertools
# N, M = map(int, input().split())
# cards = list(map(int, input().split()))
N, M = 10, 500
cards = [93, 181, 245, 214, 315, 36, 185, 138, 216, 295]
cards = sorted(cards)
need = list(filter(lambda x:x<M, cards))
result = []
for s in tuple(itertools.combinations(need, 3)):
    if sum(s) <= M:
        result.append(sum(s))
print(max(result))

497

### 풀이

In [ ]:
import itertools
N, M = map(int, input().split())
cards = list(map(int, input().split()))
cards = sorted(cards)
need = list(filter(lambda x:x<M, cards))
result = []
for s in tuple(itertools.combinations(need, 3)):
    if sum(s) <= M:
        result.append(sum(s))
print(max(result))

## 2231번 - 분해합

- 문제  
    어떤 자연수 N이 있을 때, 그 자연수 N의 분해합은 N과 N을 이루는 각 자리수의 합을 의미한다. 어떤 자연수 M의 분해합이 N인 경우, M을 N의 생성자라 한다. 예를 들어, 245의 분해합은 256(=245+2+4+5)이 된다. 따라서 245는 256의 생성자가 된다. 물론, 어떤 자연수의 경우에는 생성자가 없을 수도 있다. 반대로, 생성자가 여러 개인 자연수도 있을 수 있다.

    자연수 N이 주어졌을 때, N의 가장 작은 생성자를 구해내는 프로그램을 작성하시오.

- 입력  
    첫째 줄에 자연수 N(1 ≤ N ≤ 1,000,000)이 주어진다.

- 출력  
    첫째 줄에 답을 출력한다. 생성자가 없는 경우에는 0을 출력한다.

- 예제 입력1  
    216
- 예제 출력1  
    198

In [15]:
for i in '216':
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>

In [21]:
N = 216
for num in range(N):
    temp = num
    for n in str(num):
        temp += int(n)
    if temp == N:
        break
print(num)

198

In [22]:
N = 256
for num in range(N):
    temp = num
    for n in str(num):
        temp += int(n)
    if temp == N:
        break
print(num)

245

In [28]:
N = 256
for num in range(N):
    temp = num
    for n in str(num):
        temp += int(n)
    if temp == N:
        print(num)
        break
    elif num == N-1:
        print(0)

245

### 풀이1(30840KB, 1756ms)

In [ ]:
N = int(input())
for num in range(N):
    temp = num
    for n in str(num):
        temp += int(n)
    if temp == N:
        print(num)
        break
    elif num == N-1:
        print(0)

### 참고(제출번호 : 20879959, 아이디 : zzt)

In [31]:
n=int(input())
print([*[i for i in range(n)if n==i+sum(map(int,str(i)))],0][0])

0

#### asterisk(*) 사용법

In [45]:
a = [1, 2, 3, 4, 5]
*b, c = a
print(b)
print(c)

[1, 2, 3, 4]
5

In [46]:
t = [*a, 0]
print(t)

[1, 2, 3, 4, 5, 0]

### 풀이2(30840KB, 1124ms)

In [54]:
N = int(input())
print([*[num for num in range(N) if N == num + sum(map(int, str(num)))], 0][0])

245

## 7568번 - 덩치

- 문제  
    우리는 사람의 덩치를 키와 몸무게, 이 두 개의 값으로 표현하여 그 등수를 매겨보려고 한다. 어떤 사람의 몸무게가 x kg이고 키가 y cm라면 이 사람의 덩치는 (x, y)로 표시된다. 두 사람 A 와 B의 덩치가 각각 (x, y), (p, q)라고 할 때 x > p 그리고 y > q 이라면 우리는 A의 덩치가 B의 덩치보다 "더 크다"고 말한다. 예를 들어 어떤 A, B 두 사람의 덩치가 각각 (56, 177), (45, 165) 라고 한다면 A의 덩치가 B보다 큰 셈이 된다. 그런데 서로 다른 덩치끼리 크기를 정할 수 없는 경우도 있다. 예를 들어 두 사람 C와 D의 덩치가 각각 (45, 181), (55, 173)이라면 몸무게는 D가 C보다 더 무겁고, 키는 C가 더 크므로, "덩치"로만 볼 때 C와 D는 누구도 상대방보다 더 크다고 말할 수 없다.

    N명의 집단에서 각 사람의 덩치 등수는 자신보다 더 "큰 덩치"의 사람의 수로 정해진다. 만일 자신보다 더 큰 덩치의 사람이 k명이라면 그 사람의 덩치 등수는 k+1이 된다. 이렇게 등수를 결정하면 같은 덩치 등수를 가진 사람은 여러 명도 가능하다. 아래는 5명으로 이루어진 집단에서 각 사람의 덩치와 그 등수가 표시된 표이다.

    이름|(몸무게, 키)|덩치 등수
    :-:|:-:|:-:
    A|(55, 185)|2
    B|(58, 183)|2
    C|(88, 186)|1
    D|(60, 175)|2
    E|(46, 155)|5

    위 표에서 C보다 더 큰 덩치의 사람이 없으므로 C는 1등이 된다. 그리고 A, B, D 각각의 덩치보다 큰 사람은 C뿐이므로 이들은 모두 2등이 된다. 그리고 E보다 큰 덩치는 A, B, C, D 이렇게 4명이므로 E의 덩치는 5등이 된다. 위 경우에 3등과 4등은 존재하지 않는다. 여러분은 학생 N명의 몸무게와 키가 담긴 입력을 읽어서 각 사람의 덩치 등수를 계산하여 출력해야 한다.

- 입력
    첫 줄에는 전체 사람의 수 N이 주어진다. 그리고 이어지는 N개의 줄에는 각 사람의 몸무게와 키를 나타내는 양의 정수 x와 y가 하나의 공백을 두고 각각 나타난다.

- 출력  
    여러분은 입력에 나열된 사람의 덩치 등수를 구해서 그 순서대로 첫 줄에 출력해야 한다. 단, 각 덩치 등수는 공백문자로 분리되어야 한다.

- 제한  
    2 ≤ N ≤ 50
    10 ≤ x, y ≤ 200

- 예제 입력1  
    5  
    55 185  
    58 183  
    88 186  
    60 175  
    46 155  
- 예제 출력1  
    2 2 1 2 5

In [6]:
import sys
# N = int(input())
N = 5
# data = dict()
# data = {0:[55, 185], 1:[58, 183], 2:[88, 186], 3:[60, 175], 4:[46, 155]}
data = [[55, 185], [58, 183], [88, 186], [60, 175], [46, 155]]
# for i in range(N):
#     x, y = map(int, input().split())
#     data[i] = [x, y]
# sorted(data.items())
# sorted(data)

In [9]:
data

[[55, 185], [58, 183], [88, 186], [60, 175], [46, 155]]

In [21]:
for one in data:
    temp1 = one[0]
    temp2 = one[1]
    n = 1
    for two in data:
        if temp1 < two[0] and temp2 < two[1]:
            n += 1
    print(n, end=' ')

2 2 1 2 5

In [19]:
True or False

True

### 풀이1(30840KB, 72ms, 279B)

In [22]:
N = int(input())
data = []
for i in range(N):
    x, y = map(int, input().split())
    data.append([x, y])
for one in data:
    temp1 = one[0]
    temp2 = one[1]
    n = 1
    for two in data:
        if temp1 < two[0] and temp2 < two[1]:
            n += 1
    print(n, end=' ')

2 2 1 2 5

### 풀이2(30840KB, 68ms, 325B)

In [ ]:
import sys
N = int(sys.stdin.readline())
data = []
for i in range(N):
    x, y = map(int, sys.stdin.readline().rstrip().split())
    data.append([x, y])
for one in data:
    temp1 = one[0]
    temp2 = one[1]
    n = 1
    for two in data:
        if temp1 < two[0] and temp2 < two[1]:
            n += 1
    print(n, end=' ')

## 1018번 - 체스판 다시 칠하기

## 1436번 - 영화감독 숌

# 코드 마지막