# 정렬

## 2750번 - 수 정렬하기

- 문제  
    N개의 수가 주어졌을 때, 이를 오름차순으로 정렬하는 프로그램을 작성하시오.

- 입력  
    첫째 줄에 수의 개수 N(1 ≤ N ≤ 1,000)이 주어진다. 둘째 줄부터 N개의 줄에는 수 주어진다. 이 수는 절댓값이 1,000보다 작거나 같은 정수이다. 수는 중복되지 않는다.

- 출력  
    첫째 줄부터 N개의 줄에 오름차순으로 정렬한 결과를 한 줄에 하나씩 출력한다.

- 예제 입력  
    5  
    5  
    2  
    3  
    4  
    1  
- 예제 출력  
    1  
    2  
    3  
    4  
    5

### 풀이

In [4]:
n = int(input())
a = []
for _ in range(n):
    a.append( int(input()) )
for i in sorted(a):
    print(i)

1
2
3
4
5

## 2751번 - 수 정렬하기 2

- 문제  
    N개의 수가 주어졌을 때, 이를 오름차순으로 정렬하는 프로그램을 작성하시오.

- 입력  
    첫째 줄에 수의 개수 N(1 ≤ N ≤ 1,000,000)이 주어진다. 둘째 줄부터 N개의 줄에는 수가 주어진다. 이 수는 절댓값이 1,000,000보다 작거나 같은 정수이다. 수는 중복되지 않는다.

- 출력  
    첫째 줄부터 N개의 줄에 오름차순으로 정렬한 결과를 한 줄에 하나씩 출력한다.

- 예제 입력  
    5  
    5  
    4  
    3  
    2  
    1  
- 예제 출력  
    1  
    2  
    3  
    4  
    5

### 풀이1

In [ ]:
import sys
n = int(input())
a = []
for _ in range(n):
    a.append( int(sys.stdin.readline()) )
for i in sorted(a):
    print(i)

### 풀이2(시간 초과)

In [5]:
n = int(input())
a = set()
for _ in range(n):
    a.add( int(input()) )
for i in sorted(a):
    print(i)

1
2
3
4
5

## 10989번 - 수 정렬하기 3

- 문제  
    N개의 수가 주어졌을 때, 이를 오름차순으로 정렬하는 프로그램을 작성하시오.

- 입력  
    첫째 줄에 수의 개수 N(1 ≤ N ≤ 10,000,000)이 주어진다. 둘째 줄부터 N개의 줄에는 수가 주어진다. 이 수는 10,000보다 작거나 같은 자연수이다.

- 출력  
    첫째 줄부터 N개의 줄에 오름차순으로 정렬한 결과를 한 줄에 하나씩 출력한다.

- 예제 입력  
    10  
    5  
    2  
    3  
    1  
    4  
    2  
    3  
    5  
    1  
    7  
- 예제 출력  
    1  
    1  
    2  
    2  
    3  
    3  
    4  
    5  
    5  
    7

### 풀이1(메모리 초과)

In [8]:
a = [int(input()) for _ in range(int(input()))]
for i in sorted(a):
    print(i)

1
1
2
3
3
3
4
5
5
7

### 풀이2(메모리 초과)

In [ ]:
n = int(input())
a = []
for _ in range(n):
    a.append( int(input()) )
for i in sorted(a):
    print(i)

### 풀이3(메모리 초과)

In [11]:
a = tuple([int(input()) for _ in range(int(input()))])
for i in sorted(a):
    print(i)

1
2
3
4
5

### 풀이4(시간 초과)

In [14]:
a = [0] * 10001
for _ in range(int(input())):
    a[int(input())] += 1
for i in range(10001):
    for j in range(a[i]):
        print(i)

1
2
3
4
5

### 풀이5(9396ms, 175B)

In [ ]:
import sys
a = [0] * 10001
for _ in range( int(sys.stdin.readline()) ):
    a[int(sys.stdin.readline())] += 1
for i in range(10001):
    for j in range(a[i]):
        print(i)

## 25305번 - 커트라인

- 문제  
    2022 연세대학교 미래캠퍼스 슬기로운 코딩생활에 $N$명의 학생들이 응시했다.

    이들 중 점수가 가장 높은 $k$명은 상을 받을 것이다. 이 때, 상을 받는 커트라인이 몇 점인지 구하라.

    커트라인이란 상을 받는 사람들 중 점수가 가장 가장 낮은 사람의 점수를 말한다.

- 입력  
    첫째 줄에는 응시자의 수 $N$과 상을 받는 사람의 수 $k$가 공백을 사이에 두고 주어진다.

    둘째 줄에는 각 학생의 점수 $x$가 공백을 사이에 두고 주어진다.

- 출력  
    상을 받는 커트라인을 출력하라.

- 제한  
    $1 ≤ N ≤ 1\,000$   
    $1 ≤ k ≤ N$   
    $0 ≤ x ≤ 10\,000$   

- 예제 입력  
    5 2  
    100 76 85 93 98  
- 예제 출력  
    98

### 풀이1

In [15]:
N, k = map(int, input().split())
n = list( map(int, input().split()) )
n = sorted(n, reverse=True)
print(n[k-1])

98

### 풀이2

In [1]:
N, k = map(int, input().split())
n = list( map(int, input().split()) )
print(sorted(n)[-k])

98

## 2108번 - 통계학

- 문제  
    수를 처리하는 것은 통계학에서 상당히 중요한 일이다. 통계학에서 N개의 수를 대표하는 기본 통계값에는 다음과 같은 것들이 있다. 단, N은 홀수라고 가정하자.

    산술평균 : N개의 수들의 합을 N으로 나눈 값  
    중앙값 : N개의 수들을 증가하는 순서로 나열했을 경우 그 중앙에 위치하는 값  
    최빈값 : N개의 수들 중 가장 많이 나타나는 값  
    범위 : N개의 수들 중 최댓값과 최솟값의 차이  
    N개의 수가 주어졌을 때, 네 가지 기본 통계값을 구하는 프로그램을 작성하시오.

- 입력  
    첫째 줄에 수의 개수 N(1 ≤ N ≤ 500,000)이 주어진다. 단, N은 홀수이다. 그 다음 N개의 줄에는 정수들이 주어진다. 입력되는 정수의 절댓값은 4,000을 넘지 않는다.

- 출력  
    첫째 줄에는 산술평균을 출력한다. 소수점 이하 첫째 자리에서 반올림한 값을 출력한다.

    둘째 줄에는 중앙값을 출력한다.

    셋째 줄에는 최빈값을 출력한다. 여러 개 있을 때에는 최빈값 중 두 번째로 작은 값을 출력한다.

    넷째 줄에는 범위를 출력한다.

    예시 입력|예시 출력
    -|-
    5</br>1</br>3</br>8</br>-2</br>2|2</br>2</br>1</br>10
    1</br>4000|4000</br>4000</br>4000</br>0
    5</br>-1</br>-2</br>-3</br>-1</br>-2|-2</br>-2</br>-1</br>2
    3</br>0</br>0</br>-1|0</br>0</br>0</br>1

    (0 + 0 + (-1)) / 3 = -0.333333... 이고 이를 첫째 자리에서 반올림하면 0이다. -0으로 출력하면 안된다.

In [132]:
a = dict()
b = sorted([-1, -2, -3, -1, -2])
for one in b:
    a[one] = b.count(one)
a

{-3: 1, -2: 2, -1: 2}

In [133]:
import pandas as pd
df = pd.DataFrame(a, index=['count']).T
df

    count
-3      1
-2      2
-1      2

In [134]:
df = df[df['count'] == max(df['count'])]
df

    count
-2      2
-1      2

In [139]:
df = df.sort_index(ascending=False).reset_index()
df

   index  count
0     -1      2
1     -2      2

In [142]:
df.iloc[-2, 0]

-1

In [41]:
math.floor(len(n)/2)

2

In [39]:
n

[-2, 1, 2, 3, 8]

### 풀이1(런타임 에러, 외부 모듈 사용 불가)

In [151]:
import math
import pandas as pd
N = int(input())
n = sorted([int(input()) for _ in range(N)])
print(round(sum(n)/N))
print(n[math.floor(len(n)/2)])
a = dict()
for one in n:
    a[one] = n.count(one)
s = pd.DataFrame(a, index=['count']).T
s = s[s['count'] == max(s['count'])]
s = s.sort_index(ascending=False).reset_index()
if s.shape[0] == 1:
    print(s.iloc[-1, 0])
else:
    print(s.iloc[-2, 0])
print(max(n) - min(n))

0
0
0
1

In [149]:
s

   index  count
0      0      2

In [153]:
n = sorted([-1, -2, -3, -1, -2])
n

[-3, -2, -2, -1, -1]

In [163]:
n2 = list(set(n))
n2

[-3, -2, -1]

In [164]:
count_n = [n.count(i) for i in n2]
count_n

[1, 2, 2]

In [166]:
for a, b in zip(n2, count_n):
    print(a, b)

-3 1
-2 2
-1 2

In [170]:
m = []
for a, b in zip(n2, count_n):
    if max(count_n) == b:
        m.append(a)
if len(m) == 1:
    print(m[0])
else:
    print(m[1])

-1

In [171]:
m

[-2, -1]

In [172]:
n = sorted([-1, -2, -3, -1, -2])
n2 = list(set(n))
count_n = [n.count(i) for i in n2]
m = []
for a, b in zip(n2, count_n):
    if max(count_n) == b:
        m.append(a)
if len(m) == 1:
    print(m[0])
else:
    print(m[1])

-1

### 풀이2(시간 초과)

In [180]:
import math
N = int(input())
n = sorted([int(input()) for _ in range(N)])
print(round(sum(n)/N))
print(n[math.floor(len(n)/2)])
n2 = sorted(list(set(n)))
count_n = [n.count(i) for i in n2]
m = []
for a, b in zip(n2, count_n):
    if max(count_n) == b:
        m.append(a)
if len(m) == 1:
    print(m[0])
else:
    print(m[1])
print(max(n) - min(n))

0
0
0
1

In [175]:
n

[-2, 1, 2, 3, 8]

In [176]:
n2

[1, 2, 3, 8, -2]

In [174]:
m

[1, 2, 3, 8, -2]

In [186]:
n = sorted([-1, -2, -3, -1, -2, 1, 2])
n

[-3, -2, -2, -1, -1, 1, 2]

In [187]:
plus = [0] * 4001
minus = [0] * 4001

In [188]:
for one in n:
    if one >= 0:
        plus[one] += 1
    else:
        minus[-one] += 1
m_number = []
if max(plus) == max(minus):
    for i, one in enumerate(minus):
        if one == max(minus):
            m_number.append(-i)
    for j, two in enumerate(plus):
        if two == max(plus):
            m_number.append(j)
elif max(plus) > max(minus):
    for j, two in enumerate(plus):
        if two == max(plus):
            m_number.append(j)
else:
    for i, one in enumerate(minus):
        if one == max(minus):
            m_number.append(-i)
if len(m_number) == 1:
    print(sorted(m_number)[0])
else:
    print(sorted(m_number)[1])

-1

### 풀이3

In [192]:
import math
N = int(input())
n = sorted([int(input()) for _ in range(N)])
print(round(sum(n)/N))
print(n[math.floor(len(n)/2)])
plus = [0] * 4001
minus = [0] * 4001
for one in n:
    if one >= 0:
        plus[one] += 1
    else:
        minus[-one] += 1
m_number = []
if max(plus) == max(minus):
    for i, one in enumerate(minus):
        if one == max(minus):
            m_number.append(-i)
    for j, two in enumerate(plus):
        if two == max(plus):
            m_number.append(j)
elif max(plus) > max(minus):
    for j, two in enumerate(plus):
        if two == max(plus):
            m_number.append(j)
else:
    for i, one in enumerate(minus):
        if one == max(minus):
            m_number.append(-i)
if len(m_number) == 1:
    print(sorted(m_number)[0])
else:
    print(sorted(m_number)[1])
print(max(n) - min(n))

0
0
0
1

In [ ]:
import math, sys
N = int(sys.stdin.readline())
n = sorted([int(sys.stdin.readline()) for _ in range(N)])
print(round(sum(n)/N))
print(n[math.floor(len(n)/2)])
plus = [0] * 4001
minus = [0] * 4001
for one in n:
    if one >= 0:
        plus[one] += 1
    else:
        minus[-one] += 1
m_number = []
if max(plus) == max(minus):
    for i, one in enumerate(minus):
        if one == max(minus):
            m_number.append(-i)
    for j, two in enumerate(plus):
        if two == max(plus):
            m_number.append(j)
elif max(plus) > max(minus):
    for j, two in enumerate(plus):
        if two == max(plus):
            m_number.append(j)
else:
    for i, one in enumerate(minus):
        if one == max(minus):
            m_number.append(-i)
if len(m_number) == 1:
    print(sorted(m_number)[0])
else:
    print(sorted(m_number)[1])
print(max(n) - min(n))

In [1]:
import collections as c
N = int(input())
n = sorted([int(input()) for _ in range(N)])
t = c.Counter(n).most_common(2)

In [2]:
t

[(1, 1), (2, 1)]

In [3]:
t[0][1]

1

In [4]:
t[-1][1]

1

In [5]:
t[0][1]==t[-1][1]

True

In [7]:
-(t[0][1]==t[-1][1])

-1

In [8]:
t[-(t[0][1]==t[-1][1])]

(2, 1)

### 풀이4(참고 - 제출 번호 : 39729431, 아이디 : cjfcjf)

In [ ]:
import collections as c
import sys
N = int(input())
n = sorted([int(sys.stdin.readline()) for _ in range(N)])
t = c.Counter(n).most_common(2)
print(round(sum(n)/N), n[N//2], t[-(t[0][1]==t[-1][1])][0], n[-1]-n[0], sep='\n')

In [11]:
import collections as c
import sys
N = int(sys.stdin.readline())
n = sorted([int(sys.stdin.readline()) for _ in range(N)])
t = c.Counter(n).most_common(2)
print(round(sum(n)/N), n[N//2], t[-(t[0][1]==t[-1][1])][0], n[-1]-n[0], sep='\n')

4000
4000
4000
0

## 1427번 - 소트인사이드

## 11650번 - 좌표 정렬하기

## 11651번 - 좌표 정렬하기 2

## 1181번 - 단어 정렬

## 10814번 - 나이순 정렬

## 18870번 - 좌표 압축

# 코드 마지막