# 정렬

## 2750번 - 수 정렬하기

- 문제  
    N개의 수가 주어졌을 때, 이를 오름차순으로 정렬하는 프로그램을 작성하시오.

- 입력  
    첫째 줄에 수의 개수 N(1 ≤ N ≤ 1,000)이 주어진다. 둘째 줄부터 N개의 줄에는 수 주어진다. 이 수는 절댓값이 1,000보다 작거나 같은 정수이다. 수는 중복되지 않는다.

- 출력  
    첫째 줄부터 N개의 줄에 오름차순으로 정렬한 결과를 한 줄에 하나씩 출력한다.

- 예제 입력  
    5  
    5  
    2  
    3  
    4  
    1  
- 예제 출력  
    1  
    2  
    3  
    4  
    5

### 풀이

In [4]:
n = int(input())
a = []
for _ in range(n):
    a.append( int(input()) )
for i in sorted(a):
    print(i)

1
2
3
4
5

## 2751번 - 수 정렬하기 2

- 문제  
    N개의 수가 주어졌을 때, 이를 오름차순으로 정렬하는 프로그램을 작성하시오.

- 입력  
    첫째 줄에 수의 개수 N(1 ≤ N ≤ 1,000,000)이 주어진다. 둘째 줄부터 N개의 줄에는 수가 주어진다. 이 수는 절댓값이 1,000,000보다 작거나 같은 정수이다. 수는 중복되지 않는다.

- 출력  
    첫째 줄부터 N개의 줄에 오름차순으로 정렬한 결과를 한 줄에 하나씩 출력한다.

- 예제 입력  
    5  
    5  
    4  
    3  
    2  
    1  
- 예제 출력  
    1  
    2  
    3  
    4  
    5

### 풀이1

In [ ]:
import sys
n = int(input())
a = []
for _ in range(n):
    a.append( int(sys.stdin.readline()) )
for i in sorted(a):
    print(i)

### 풀이2(시간 초과)

In [5]:
n = int(input())
a = set()
for _ in range(n):
    a.add( int(input()) )
for i in sorted(a):
    print(i)

1
2
3
4
5

## 10989번 - 수 정렬하기 3

- 문제  
    N개의 수가 주어졌을 때, 이를 오름차순으로 정렬하는 프로그램을 작성하시오.

- 입력  
    첫째 줄에 수의 개수 N(1 ≤ N ≤ 10,000,000)이 주어진다. 둘째 줄부터 N개의 줄에는 수가 주어진다. 이 수는 10,000보다 작거나 같은 자연수이다.

- 출력  
    첫째 줄부터 N개의 줄에 오름차순으로 정렬한 결과를 한 줄에 하나씩 출력한다.

- 예제 입력  
    10  
    5  
    2  
    3  
    1  
    4  
    2  
    3  
    5  
    1  
    7  
- 예제 출력  
    1  
    1  
    2  
    2  
    3  
    3  
    4  
    5  
    5  
    7

### 풀이1(메모리 초과)

In [8]:
a = [int(input()) for _ in range(int(input()))]
for i in sorted(a):
    print(i)

1
1
2
3
3
3
4
5
5
7

### 풀이2(메모리 초과)

In [ ]:
n = int(input())
a = []
for _ in range(n):
    a.append( int(input()) )
for i in sorted(a):
    print(i)

### 풀이3(메모리 초과)

In [11]:
a = tuple([int(input()) for _ in range(int(input()))])
for i in sorted(a):
    print(i)

1
2
3
4
5

### 풀이4(시간 초과)

In [14]:
a = [0] * 10001
for _ in range(int(input())):
    a[int(input())] += 1
for i in range(10001):
    for j in range(a[i]):
        print(i)

1
2
3
4
5

### 풀이5(9396ms, 175B)

In [ ]:
import sys
a = [0] * 10001
for _ in range( int(sys.stdin.readline()) ):
    a[int(sys.stdin.readline())] += 1
for i in range(10001):
    for j in range(a[i]):
        print(i)

## 25305번 - 커트라인

- 문제  
    2022 연세대학교 미래캠퍼스 슬기로운 코딩생활에 $N$명의 학생들이 응시했다.

    이들 중 점수가 가장 높은 $k$명은 상을 받을 것이다. 이 때, 상을 받는 커트라인이 몇 점인지 구하라.

    커트라인이란 상을 받는 사람들 중 점수가 가장 가장 낮은 사람의 점수를 말한다.

- 입력  
    첫째 줄에는 응시자의 수 $N$과 상을 받는 사람의 수 $k$가 공백을 사이에 두고 주어진다.

    둘째 줄에는 각 학생의 점수 $x$가 공백을 사이에 두고 주어진다.

- 출력  
    상을 받는 커트라인을 출력하라.

- 제한  
    $1 ≤ N ≤ 1\,000$   
    $1 ≤ k ≤ N$   
    $0 ≤ x ≤ 10\,000$   

- 예제 입력  
    5 2  
    100 76 85 93 98  
- 예제 출력  
    98

### 풀이1

In [15]:
N, k = map(int, input().split())
n = list( map(int, input().split()) )
n = sorted(n, reverse=True)
print(n[k-1])

98

### 풀이2

In [1]:
N, k = map(int, input().split())
n = list( map(int, input().split()) )
print(sorted(n)[-k])

98

## 2108번 - 통계학

- 문제  
    수를 처리하는 것은 통계학에서 상당히 중요한 일이다. 통계학에서 N개의 수를 대표하는 기본 통계값에는 다음과 같은 것들이 있다. 단, N은 홀수라고 가정하자.

    산술평균 : N개의 수들의 합을 N으로 나눈 값  
    중앙값 : N개의 수들을 증가하는 순서로 나열했을 경우 그 중앙에 위치하는 값  
    최빈값 : N개의 수들 중 가장 많이 나타나는 값  
    범위 : N개의 수들 중 최댓값과 최솟값의 차이  
    N개의 수가 주어졌을 때, 네 가지 기본 통계값을 구하는 프로그램을 작성하시오.

- 입력  
    첫째 줄에 수의 개수 N(1 ≤ N ≤ 500,000)이 주어진다. 단, N은 홀수이다. 그 다음 N개의 줄에는 정수들이 주어진다. 입력되는 정수의 절댓값은 4,000을 넘지 않는다.

- 출력  
    첫째 줄에는 산술평균을 출력한다. 소수점 이하 첫째 자리에서 반올림한 값을 출력한다.

    둘째 줄에는 중앙값을 출력한다.

    셋째 줄에는 최빈값을 출력한다. 여러 개 있을 때에는 최빈값 중 두 번째로 작은 값을 출력한다.

    넷째 줄에는 범위를 출력한다.

    예시 입력|예시 출력
    -|-
    5</br>1</br>3</br>8</br>-2</br>2|2</br>2</br>1</br>10
    1</br>4000|4000</br>4000</br>4000</br>0
    5</br>-1</br>-2</br>-3</br>-1</br>-2|-2</br>-2</br>-1</br>2
    3</br>0</br>0</br>-1|0</br>0</br>0</br>1

    (0 + 0 + (-1)) / 3 = -0.333333... 이고 이를 첫째 자리에서 반올림하면 0이다. -0으로 출력하면 안된다.

In [132]:
a = dict()
b = sorted([-1, -2, -3, -1, -2])
for one in b:
    a[one] = b.count(one)
a

{-3: 1, -2: 2, -1: 2}

In [133]:
import pandas as pd
df = pd.DataFrame(a, index=['count']).T
df

    count
-3      1
-2      2
-1      2

In [134]:
df = df[df['count'] == max(df['count'])]
df

    count
-2      2
-1      2

In [139]:
df = df.sort_index(ascending=False).reset_index()
df

   index  count
0     -1      2
1     -2      2

In [142]:
df.iloc[-2, 0]

-1

In [41]:
math.floor(len(n)/2)

2

In [39]:
n

[-2, 1, 2, 3, 8]

### 풀이1(런타임 에러, 외부 모듈 사용 불가)

In [151]:
import math
import pandas as pd
N = int(input())
n = sorted([int(input()) for _ in range(N)])
print(round(sum(n)/N))
print(n[math.floor(len(n)/2)])
a = dict()
for one in n:
    a[one] = n.count(one)
s = pd.DataFrame(a, index=['count']).T
s = s[s['count'] == max(s['count'])]
s = s.sort_index(ascending=False).reset_index()
if s.shape[0] == 1:
    print(s.iloc[-1, 0])
else:
    print(s.iloc[-2, 0])
print(max(n) - min(n))

0
0
0
1

In [149]:
s

   index  count
0      0      2

In [153]:
n = sorted([-1, -2, -3, -1, -2])
n

[-3, -2, -2, -1, -1]

In [163]:
n2 = list(set(n))
n2

[-3, -2, -1]

In [164]:
count_n = [n.count(i) for i in n2]
count_n

[1, 2, 2]

In [166]:
for a, b in zip(n2, count_n):
    print(a, b)

-3 1
-2 2
-1 2

In [170]:
m = []
for a, b in zip(n2, count_n):
    if max(count_n) == b:
        m.append(a)
if len(m) == 1:
    print(m[0])
else:
    print(m[1])

-1

In [171]:
m

[-2, -1]

In [172]:
n = sorted([-1, -2, -3, -1, -2])
n2 = list(set(n))
count_n = [n.count(i) for i in n2]
m = []
for a, b in zip(n2, count_n):
    if max(count_n) == b:
        m.append(a)
if len(m) == 1:
    print(m[0])
else:
    print(m[1])

-1

### 풀이2(시간 초과)

In [180]:
import math
N = int(input())
n = sorted([int(input()) for _ in range(N)])
print(round(sum(n)/N))
print(n[math.floor(len(n)/2)])
n2 = sorted(list(set(n)))
count_n = [n.count(i) for i in n2]
m = []
for a, b in zip(n2, count_n):
    if max(count_n) == b:
        m.append(a)
if len(m) == 1:
    print(m[0])
else:
    print(m[1])
print(max(n) - min(n))

0
0
0
1

In [175]:
n

[-2, 1, 2, 3, 8]

In [176]:
n2

[1, 2, 3, 8, -2]

In [174]:
m

[1, 2, 3, 8, -2]

In [186]:
n = sorted([-1, -2, -3, -1, -2, 1, 2])
n

[-3, -2, -2, -1, -1, 1, 2]

In [187]:
plus = [0] * 4001
minus = [0] * 4001

In [188]:
for one in n:
    if one >= 0:
        plus[one] += 1
    else:
        minus[-one] += 1
m_number = []
if max(plus) == max(minus):
    for i, one in enumerate(minus):
        if one == max(minus):
            m_number.append(-i)
    for j, two in enumerate(plus):
        if two == max(plus):
            m_number.append(j)
elif max(plus) > max(minus):
    for j, two in enumerate(plus):
        if two == max(plus):
            m_number.append(j)
else:
    for i, one in enumerate(minus):
        if one == max(minus):
            m_number.append(-i)
if len(m_number) == 1:
    print(sorted(m_number)[0])
else:
    print(sorted(m_number)[1])

-1

### 풀이3

In [192]:
import math
N = int(input())
n = sorted([int(input()) for _ in range(N)])
print(round(sum(n)/N))
print(n[math.floor(len(n)/2)])
plus = [0] * 4001
minus = [0] * 4001
for one in n:
    if one >= 0:
        plus[one] += 1
    else:
        minus[-one] += 1
m_number = []
if max(plus) == max(minus):
    for i, one in enumerate(minus):
        if one == max(minus):
            m_number.append(-i)
    for j, two in enumerate(plus):
        if two == max(plus):
            m_number.append(j)
elif max(plus) > max(minus):
    for j, two in enumerate(plus):
        if two == max(plus):
            m_number.append(j)
else:
    for i, one in enumerate(minus):
        if one == max(minus):
            m_number.append(-i)
if len(m_number) == 1:
    print(sorted(m_number)[0])
else:
    print(sorted(m_number)[1])
print(max(n) - min(n))

0
0
0
1

In [ ]:
import math, sys
N = int(sys.stdin.readline())
n = sorted([int(sys.stdin.readline()) for _ in range(N)])
print(round(sum(n)/N))
print(n[math.floor(len(n)/2)])
plus = [0] * 4001
minus = [0] * 4001
for one in n:
    if one >= 0:
        plus[one] += 1
    else:
        minus[-one] += 1
m_number = []
if max(plus) == max(minus):
    for i, one in enumerate(minus):
        if one == max(minus):
            m_number.append(-i)
    for j, two in enumerate(plus):
        if two == max(plus):
            m_number.append(j)
elif max(plus) > max(minus):
    for j, two in enumerate(plus):
        if two == max(plus):
            m_number.append(j)
else:
    for i, one in enumerate(minus):
        if one == max(minus):
            m_number.append(-i)
if len(m_number) == 1:
    print(sorted(m_number)[0])
else:
    print(sorted(m_number)[1])
print(max(n) - min(n))

In [1]:
import collections as c
N = int(input())
n = sorted([int(input()) for _ in range(N)])
t = c.Counter(n).most_common(2)

In [2]:
t

[(1, 1), (2, 1)]

In [3]:
t[0][1]

1

In [4]:
t[-1][1]

1

In [5]:
t[0][1]==t[-1][1]

True

In [7]:
-(t[0][1]==t[-1][1])

-1

In [8]:
t[-(t[0][1]==t[-1][1])]

(2, 1)

### 풀이4(참고 - 제출 번호 : 39729431, 아이디 : cjfcjf)

In [ ]:
import collections as c
import sys
N = int(input())
n = sorted([int(sys.stdin.readline()) for _ in range(N)])
t = c.Counter(n).most_common(2)
print(round(sum(n)/N), n[N//2], t[-(t[0][1]==t[-1][1])][0], n[-1]-n[0], sep='\n')

In [11]:
import collections as c
import sys
N = int(sys.stdin.readline())
n = sorted([int(sys.stdin.readline()) for _ in range(N)])
t = c.Counter(n).most_common(2)
print(round(sum(n)/N), n[N//2], t[-(t[0][1]==t[-1][1])][0], n[-1]-n[0], sep='\n')

4000
4000
4000
0

## 1427번 - 소트인사이드

- 문제  
    배열을 정렬하는 것은 쉽다. 수가 주어지면, 그 수의 각 자리수를 내림차순으로 정렬해보자.

- 입력  
    첫째 줄에 정렬하려고 하는 수 N이 주어진다. N은 1,000,000,000보다 작거나 같은 자연수이다.

- 출력  
    첫째 줄에 자리수를 내림차순으로 정렬한 수를 출력한다.

    예제 입력|예제 출력 
    -|-
    2143|4321
    999998999|999999998
    61423|64321
    500613009|965310000

### 풀이

In [4]:
array = [0]*10
for i in input():
    array[int(i)] += 1
for i in range(9, -1, -1):
    for j in range(array[i]):
        print(i, end='')

965310000

## 11650번 - 좌표 정렬하기

- 문제  
    2차원 평면 위의 점 N개가 주어진다. 좌표를 x좌표가 증가하는 순으로, x좌표가 같으면 y좌표가 증가하는 순서로 정렬한 다음 출력하는 프로그램을 작성하시오.

- 입력  
    첫째 줄에 점의 개수 N (1 ≤ N ≤ 100,000)이 주어진다. 둘째 줄부터 N개의 줄에는 i번점의 위치 $x_i$와 $y_i$가 주어진다. $(-100,000 ≤ x_i, y_i ≤ 100,000)$ 좌표는 항상 정수이고, 위치가 같은 두 점은 없다.

- 출력  
    첫째 줄부터 N개의 줄에 점을 정렬한 결과를 출력한다.

- 예제 입력  
    5  
    3 4  
    1 1  
    1 -1  
    2 2  
    3 3  
- 예제 출력  
    1 -1  
    1 1  
    2 2  
    3 3  
    3 4

### 풀이

In [7]:
a = []
for _ in range( int(input()) ):
    n1, n2 = map(int, input().split())
    a.append((n1, n2))
for m1, m2 in sorted(a):
    print(m1, m2)

1 -1
1 1
2 2
3 3
3 4

In [ ]:
import sys
a = []
for _ in range( int(sys.stdin.readline()) ):
    n1, n2 = map(int, sys.stdin.readline().split())
    a.append((n1, n2))
for m1, m2 in sorted(a):
    print(m1, m2)

## 11651번 - 좌표 정렬하기 2

- 문제  
    2차원 평면 위의 점 N개가 주어진다. 좌표를 y좌표가 증가하는 순으로, y좌표가 같으면 x좌표가 증가하는 순서로 정렬한 다음 출력하는 프로그램을 작성하시오.

- 입력  
    첫째 줄에 점의 개수 N (1 ≤ N ≤ 100,000)이 주어진다. 둘째 줄부터 N개의 줄에는 i번점의 위치 $x_i$와 $y_i$가 주어진다. $(-100,000 ≤ x_i, y_i ≤ 100,000)$ 좌표는 항상 정수이고, 위치가 같은 두 점은 없다.

- 출력  
    첫째 줄부터 N개의 줄에 점을 정렬한 결과를 출력한다.

- 예제 입력  
    5  
    0 4  
    1 2  
    1 -1  
    2 2  
    3 3  
- 예제 출력  
    1 -1  
    1 2  
    2 2  
    3 3  
    0 4

### 풀이

In [ ]:
a = []
for _ in range( int(input()) ):
    n1, n2 = map(int, input().split())
    a.append((n2, n1))
for m2, m1 in sorted(a):
    print(m1, m2)

In [8]:
import sys
a = []
for _ in range( int(sys.stdin.readline()) ):
    n1, n2 = map(int, sys.stdin.readline().split())
    a.append((n2, n1))
for m2, m1 in sorted(a):
    print(m1, m2)

1 -1
1 2
2 2
3 3
0 4

## 1181번 - 단어 정렬

- 문제  
    알파벳 소문자로 이루어진 N개의 단어가 들어오면 아래와 같은 조건에 따라 정렬하는 프로그램을 작성하시오.

    길이가 짧은 것부터
    길이가 같으면 사전 순으로
- 입력  
    첫째 줄에 단어의 개수 N이 주어진다. (1 ≤ N ≤ 20,000) 둘째 줄부터 N개의 줄에 걸쳐 알파벳 소문자로 이루어진 단어가 한 줄에 하나씩 주어진다. 주어지는 문자열의 길이는 50을 넘지 않는다.

- 출력  
    조건에 따라 정렬하여 단어들을 출력한다. 단, 같은 단어가 여러 번 입력된 경우에는 한 번씩만 출력한다.

- 예제 입력  
    13  
    but  
    i  
    wont  
    hesitate  
    no  
    more  
    no  
    more  
    it  
    cannot  
    wait  
    im  
    yours  
- 예제 출력  
    i  
    im  
    it  
    no  
    but  
    more  
    wait  
    wont  
    yours  
    cannot  
    hesitate

In [12]:
temp = ['but', 'i', 'wont', 'hesitate', 'no', 'more', 'no', 'more', 'it', 'cannot', 'wait', 'im', 'yours']

In [13]:
text = sorted(list(set(temp)))
text

['but',
 'cannot',
 'hesitate',
 'i',
 'im',
 'it',
 'more',
 'no',
 'wait',
 'wont',
 'yours']

In [17]:
sorted(text, key=len)

['i',
 'im',
 'it',
 'no',
 'but',
 'more',
 'wait',
 'wont',
 'yours',
 'cannot',
 'hesitate']

### 풀이

In [19]:
text = sorted(list(set([input() for _ in range(int(input()))])))
for one in sorted(text, key=len):
    print(one)

i
im
it
no
but
more
wait
wont
yours
cannot
hesitate

In [ ]:
import sys
text = sorted(list(set([sys.stdin.readline().rstrip() for _ in range(int(sys.stdin.readline()))])))
for one in sorted(text, key=len):
    print(one)

## 10814번 - 나이순 정렬

- 문제  
    온라인 저지에 가입한 사람들의 나이와 이름이 가입한 순서대로 주어진다. 이때, 회원들을 나이가 증가하는 순으로, 나이가 같으면 먼저 가입한 사람이 앞에 오는 순서로 정렬하는 프로그램을 작성하시오.

- 입력  
    첫째 줄에 온라인 저지 회원의 수 N이 주어진다. (1 ≤ N ≤ 100,000)

    둘째 줄부터 N개의 줄에는 각 회원의 나이와 이름이 공백으로 구분되어 주어진다. 나이는 1보다 크거나 같으며, 200보다 작거나 같은 정수이고, 이름은 알파벳 대소문자로 이루어져 있고, 길이가 100보다 작거나 같은 문자열이다. 입력은 가입한 순서로 주어진다.

- 출력  
    첫째 줄부터 총 N개의 줄에 걸쳐 온라인 저지 회원을 나이 순, 나이가 같으면 가입한 순으로 한 줄에 한 명씩 나이와 이름을 공백으로 구분해 출력한다.

- 예제 입력  
    3  
    21 Junkyu  
    21 Dohyun  
    20 Sunyoung  
- 에제 출력  
    20 Sunyoung  
    21 Junkyu  
    21 Dohyun

In [24]:
customers = [[21, 'Junkyu'] ,[21, 'Dohyun'], [20, 'Sunyoug']]
sorted(customers, key=lambda x:x[0])

[[20, 'Sunyoug'], [21, 'Junkyu'], [21, 'Dohyun']]

### 풀이1

In [27]:
customers = []
for _ in range(int(input())):
    temp = input().split()
    n1, n2 = int(temp[0]), temp[1]
    customers.append((n1, n2))
for s1, s2 in sorted(customers, key=lambda x:x[0]):
    print(s1, s2)

20 Sunyoung
21 Junkyu
21 Dohyun

In [ ]:
import sys
customers = []
for _ in range(int(sys.stdin.readline())):
    temp = sys.stdin.readline().rstrip().split()
    n1, n2 = int(temp[0]), temp[1]
    customers.append((n1, n2))
for s1, s2 in sorted(customers, key=lambda x:x[0]):
    print(s1, s2)

### 풀이2(틀림)

In [28]:
customers = [input().split() for _ in range(int(input()))]
for s1, s2 in sorted(customers, key=lambda x:x[0]):
    print(s1, s2)

20 Sunyoung
21 Junkyu
21 Dohyun

## 18870번 - 좌표 압축
- 문제  
    수직선 위에 N개의 좌표 $X_1, X_2, ..., X_N$이 있다. 이 좌표에 좌표 압축을 적용하려고 한다.

    $X_i$를 좌표 압축한 결과 $X'_i$의 값은 $X_i > X_j$를 만족하는 서로 다른 좌표의 개수와 같아야 한다.

    $X_1, X_2, ..., X_N$에 좌표 압축을 적용한 결과 $X'_1, X'_2, ..., X'_N$를 출력해보자.

- 입력  
    첫째 줄에 N이 주어진다.

    둘째 줄에는 공백 한 칸으로 구분된 $X_1, X_2, ..., X_N$이 주어진다.

- 출력  
    첫째 줄에 $X'_1, X'_2, ..., X'_N$을 공백 한 칸으로 구분해서 출력한다.

- 제한  
    $1 ≤ N ≤ 1,000,000$  
    $-10^9 ≤ X_i ≤ 10^9$

- 예시 입력1  
    5  
    2 4 -10 4 -9  
- 예시 출력1  
    2 3 0 3 1
- 예시 입력2  
    6  
    1000 999 1000 999 1000 999  
- 예시 출력2  
    1 0 1 0 1 0

### 풀이1(시간 초과)

In [35]:
N = int(input())
n = list(map(int, input().split()))
m = set(n)
result = []
for i in n:
    c = 0
    for j in m:
        if i > j:
            c += 1
    result.append(c)
print(*result)

2 3 0 3 1

In [31]:
m

{-10, -9, 2, 4}

In [ ]:
import sys
N = int(sys.stdin.readline())
n = list(map(int, sys.stdin.readline().rstrip().split()))
m = set(n)
result = []
for i in n:
    c = 0
    for j in m:
        if i > j:
            c += 1
    result.append(c)
print(*result)

### 풀이2 (메모리 초과)

In [37]:
N = int(input())
n = list(map(int, input().split()))
m = set(n)
length = max(list(map(abs, n)))
limit = length + 1
plus = [0] * limit
minus = [0] * limit
for i in m:
    if i >= 0:
        plus[i] += 1
    else:
        minus[-i] += 1
result = []
for j in n:
    if j >= 0:
        result.append( sum(plus[:j]) + sum(minus) )
    if j < 0:
        result.append( sum(minus[-(j-1):]) )
print(*result)

2 3 0 3 1

In [47]:
n = [2, 4, -10, 4, -9]
m = set(n)
for i in n:
    print(len([j for j in m if i > j]), end=' ')

2 3 0 3 1

### 풀이3(시간 초과)

In [49]:
N = int(input())
n = list(map(int, input().split()))
m = set(n)
for i in n:
    print(len([j for j in m if i > j]), end=' ')

2 3 0 3 1

In [ ]:
import sys
N = int(sys.stdin.readline())
n = list(map(int, sys.stdin.readline().rstrip().split()))
m = set(n)
for i in n:
    print(len([j for j in m if i > j]), end=' ')

### 풀이4(시간 초과)

In [51]:
N = int(input())
n = list(map(int, input().split()))
m = sorted(set(n))
for i in n:
    print(m.index(i), end=' ')

2 3 0 3 1

### 풀이5(시간 초과)

In [55]:
N = int(input())
n = list(map(int, input().split()))
m = sorted(set(n))
for i in n:
    print(m.index(i), end=' ')

2 3 0 3 1

In [60]:
n = [2, 4, -10, 4, -9]
m = sorted(set(n))
d = dict()
for i in m:
    d[i] = m.index(i)
for i in n:
    print(d[i], end=' ')

2 3 0 3 1

In [61]:
m

[-10, -9, 2, 4]

### 풀이6(시간 초과)

In [64]:
N = int(input())
n = list(map(int, input().split()))
m = sorted(set(n))
d = dict()
for i in m:
    d[i] = m.index(i)
for i in n:
    print(d[i], end=' ')

2 3 0 3 1

### 풀이7(2044ms, 161B)

In [ ]:
N = int(input())
n = list(map(int, input().split()))
m = sorted(set(n))
d = dict()
k = 0
for i in m:
    d[i] = k
    k += 1
for i in n:
    print(d[i], end=' ')

### 풀이8(1992ms, 207B)

In [ ]:
import sys
N = int(sys.stdin.readline())
n = list(map(int, sys.stdin.readline().rstrip().split()))
m = sorted(set(n))
d = dict()
k = 0
for i in m:
    d[i] = k
    k += 1
for i in n:
    print(d[i], end=' ')

### 풀이9(2392ms, 158B)

In [65]:
N = int(input())
n = list(map(int, input().split()))
m = sorted(set(n))
d = dict()
for i, s in enumerate(m):
    d[s] = i
for i in n:
    print(d[i], end=' ')

2 3 0 3 1

# 코드 마지막