# 문자열 단계

## 11654번 - 아스키 코드

- 문제  
    알파벳 소문자, 대문자, 숫자 0-9중 하나가 주어졌을 때, 주어진 글자의 아스키 코드값을 출력하는 프로그램을 작성하시오.

- 입력  
 알파벳 소문자, 대문자, 숫자 0-9 중 하나가 첫째 줄에 주어진다.

- 출력  
    입력으로 주어진 글자의 아스키 코드 값을 출력한다.

### 풀이

In [4]:
# A 입력, 65 출력
print( ord(input()) )

65

## 11720번 - 숫자의 합

- 문제  
    N개의 숫자가 공백 없이 쓰여있다. 이 숫자를 모두 합해서 출력하는 프로그램을 작성하시오.

- 입력  
    첫째 줄에 숫자의 개수 N (1 ≤ N ≤ 100)이 주어진다. 둘째 줄에 숫자 N개가 공백없이 주어진다.

- 출력  
    입력으로 주어진 숫자 N개의 합을 출력한다.

- 예제 입력1  
1  
1  
- 예제 출력1  
1

- 예제 입력2  
5  
54321  
- 예제 출력2  
15  

- 예제 입력3  
25  
7000000000000000000000000  
- 예제 출력3  
7  

- 예제 입력4  
11  
10987654321  
- 예제 출력4  
46

### 풀이

In [8]:
r = int(input())
numbers = list( map(int, input()) )
if len(numbers) == r:
    print( sum(numbers) )

46

## 10809번 - 알파벳 찾기

- 문제  
    알파벳 소문자로만 이루어진 단어 S가 주어진다. 각각의 알파벳에 대해서, 단어에 포함되어 있는 경우에는 처음 등장하는 위치를, 포함되어 있지 않은 경우에는 -1을 출력하는 프로그램을 작성하시오.

- 입력  
    첫째 줄에 단어 S가 주어진다. 단어의 길이는 100을 넘지 않으며, 알파벳 소문자로만 이루어져 있다.

- 출력  
    각각의 알파벳에 대해서, a가 처음 등장하는 위치, b가 처음 등장하는 위치, ... z가 처음 등장하는 위치를 공백으로 구분해서 출력한다.

    만약, 어떤 알파벳이 단어에 포함되어 있지 않다면 -1을 출력한다. 단어의 첫 번째 글자는 0번째 위치이고, 두 번째 글자는 1번째 위치이다.

- 예제 입력  
    baekjoon
- 예제 출력  
    1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [9]:
list(map(str, 'abcd'))

['a', 'b', 'c', 'd']

In [13]:
'abcdabcd'.index('b')

1

### 풀이1

In [14]:
S = input()
for s in "abcdefghijklmnopqrstuvwxyz":
    if s in S:
        print(S.index(s), end=' ')
    else:
        print(-1, end=' ')

1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [21]:
t1 = 'ab'
t2 = 'abcde'
print(list(map(t1.find, t2)))

[0, 1, -1, -1, -1]

In [24]:
' '.join(['1', '2', '3'])

'1 2 3'

In [25]:
print( ' '.join( map(str, map(t1.find, t2)) ) )

0 1 -1 -1 -1

In [27]:
list( map(chr, range(97, 123)) )

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [31]:
al = list(map(chr, range(97, 123)))
print( ' '.join( map(str, map(input().find, al))) )

1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [34]:
al = sorted(set(map(chr, range(97, 123))))
print( ' '.join( map(str, map(input().find, al))) )

1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

### 풀이2

In [32]:
print( ' '.join( map(str, map(input().find, map(chr, range(97, 123))))) )

1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

### 풀이3

In [38]:
# 다른 사람 코드 참고
    # *map의 의미 모름.
print(*map(input().find, map(chr, range(97, 123))))

1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

## 2675번 - 문자열 반복

- 문제  
    문자열 S를 입력받은 후에, 각 문자를 R번 반복해 새 문자열 P를 만든 후 출력하는 프로그램을 작성하시오. 즉, 첫 번째 문자를 R번 반복하고, 두 번째 문자를 R번 반복하는 식으로 P를 만들면 된다. S에는 QR Code "alphanumeric" 문자만 들어있다.

    QR Code "alphanumeric" 문자는 0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ\$%*+-./: 이다.

- 입력  
    첫째 줄에 테스트 케이스의 개수 T(1 ≤ T ≤ 1,000)가 주어진다. 각 테스트 케이스는 반복 횟수 R(1 ≤ R ≤ 8), 문자열 S가 공백으로 구분되어 주어진다. S의 길이는 적어도 1이며, 20글자를 넘지 않는다. 

- 출력  
    각 테스트 케이스에 대해 P를 출력한다.

- 예시 입력  
2  
3 ABC  
5 /HTP  

- 예시 출력  
AAABBBCCC  
/////HHHHHTTTTTPPPPP

### 풀이

In [11]:
r = int(input())
for r in range(r):
    num, S = input().split()
    num = int(num)
    QR_Code = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ\$%*+-./:'
    for s in S:
        if s in QR_Code:
            print(s * num, end='')
    print()

AAABBBCCC
/////HHHHHTTTTTPPPPP

## 1157번 - 단어 공부

- 문제  
    알파벳 대소문자로 된 단어가 주어지면, 이 단어에서 가장 많이 사용된 알파벳이 무엇인지 알아내는 프로그램을 작성하시오. 단, 대문자와 소문자를 구분하지 않는다.

- 입력  
    첫째 줄에 알파벳 대소문자로 이루어진 단어가 주어진다. 주어지는 단어의 길이는 1,000,000을 넘지 않는다.

- 출력  
    첫째 줄에 이 단어에서 가장 많이 사용된 알파벳을 대문자로 출력한다. 단, 가장 많이 사용된 알파벳이 여러 개 존재하는 경우에는 ?를 출력한다.

    예시 입력|예시 출력
    -|-
    Mississipi|?
    zZa|Z
    z|Z
    baaa|A

In [44]:
text = input().upper()
str_list = []
num_list = []
for s in set(text):
    str_list.append(s)
    num_list.append(text.count(s))

In [45]:
str_list

['S', 'P', 'I', 'M']

In [46]:
num_list

[4, 1, 4, 1]

In [47]:
num_list.count(4)

2

In [48]:
num_list.index(4)

0

In [49]:
max_num = max(num_list)
if num_list.count(max_num) == 1:
    print( str_list[num_list.index(max_num)] )
else:
    print('?')

?

### 풀이

In [53]:
text = input().upper()
str_list = []
num_list = []
for s in set(text):
    str_list.append(s)
    num_list.append(text.count(s))
    
max_num = max(num_list)
if num_list.count(max_num) == 1:
    print( str_list[num_list.index(max_num)] )
else:
    print('?')

A

## 1152번 - 단어의 개수

- 문제  
    영어 대소문자와 공백으로 이루어진 문자열이 주어진다. 이 문자열에는 몇 개의 단어가 있을까? 이를 구하는 프로그램을 작성하시오. 단, 한 단어가 여러 번 등장하면 등장한 횟수만큼 모두 세어야 한다.

- 입력  
    첫 줄에 영어 대소문자와 공백으로 이루어진 문자열이 주어진다. 이 문자열의 길이는 1,000,000을 넘지 않는다. 단어는 공백 한 개로 구분되며, 공백이 연속해서 나오는 경우는 없다. 또한 문자열은 공백으로 시작하거나 끝날 수 있다.

- 출력  
    첫째 줄에 단어의 개수를 출력한다.

    예제 입력|예제 출력
    -|-
    The Curious Case of Benjamin Button|6
    &nbsp;The first character is a blank|6
    The last character is a blank&nbsp;|6

### 풀이

In [3]:
text_list = input().split()
n = 0
for i in text_list:
    if i != ' ':
        n += 1
print(n)

6

## 2908번 - 상수

- 문제  
    상근이의 동생 상수는 수학을 정말 못한다. 상수는 숫자를 읽는데 문제가 있다. 이렇게 수학을 못하는 상수를 위해서 상근이는 수의 크기를 비교하는 문제를 내주었다. 상근이는 세 자리 수 두 개를 칠판에 써주었다. 그 다음에 크기가 큰 수를 말해보라고 했다.

    상수는 수를 다른 사람과 다르게 거꾸로 읽는다. 예를 들어, 734와 893을 칠판에 적었다면, 상수는 이 수를 437과 398로 읽는다. 따라서, 상수는 두 수중 큰 수인 437을 큰 수라고 말할 것이다.

    두 수가 주어졌을 때, 상수의 대답을 출력하는 프로그램을 작성하시오.

- 입력  
    첫째 줄에 상근이가 칠판에 적은 두 수 A와 B가 주어진다. 두 수는 같지 않은 세 자리 수이며, 0이 포함되어 있지 않다.

- 출력  
    첫째 줄에 상수의 대답을 출력한다.

    예제 입력|예제 출력
    -|-
    734 893|437
    221 231|132
    839 237|938

In [4]:
n1, n2 = input().split()
n11, n12, n13 = n1[0], n1[1], n1[2]
n21, n22, n23 = n2[0], n2[1], n2[2]

In [5]:
new_n1 = int( ''.join([n13, n12, n11]) )
new_n1

437

In [6]:
new_n2 = int( ''.join([n23, n22, n21]) )
new_n2

398

In [7]:
if new_n1 >= new_n2:
    print(new_n1)
else:
    print(new_n2)

437

### 풀이1

In [10]:
n1, n2 = input().split()
n11, n12, n13 = n1[0], n1[1], n1[2]
n21, n22, n23 = n2[0], n2[1], n2[2]
new_n1 = int( ''.join([n13, n12, n11]) )
new_n2 = int( ''.join([n23, n22, n21]) )
if new_n1 >= new_n2:
    print(new_n1)
else:
    print(new_n2)

938

In [11]:
'123'[::-1]

'321'

In [12]:
'456'[::-1]

'654'

In [13]:
'734 893'[::-1]

'398 437'

In [14]:
'734 893'[::-1].split()

['398', '437']

In [15]:
max( '734 893'[::-1].split() )

'437'

In [16]:
print( max( input()[::-1].split() ) )

437

### 풀이2

In [17]:
# 백준 숏코딩 참고
print( max( input()[::-1].split() ) )

437

## 5622번 - 다이얼

- 문제  
    상근이의 할머니는 아래 그림과 같이 오래된 다이얼 전화기를 사용한다.

    <center> <img src='img/5622.jpg' width='20%' height='20%' /> </center>  
    
    전화를 걸고 싶은 번호가 있다면, 숫자를 하나를 누른 다음에 금속 핀이 있는 곳 까지 시계방향으로 돌려야 한다. 숫자를 하나 누르면 다이얼이 처음 위치로 돌아가고, 다음 숫자를 누르려면 다이얼을 처음 위치에서 다시 돌려야 한다.

    숫자 1을 걸려면 총 2초가 필요하다. 1보다 큰 수를 거는데 걸리는 시간은 이보다 더 걸리며, 한 칸 옆에 있는 숫자를 걸기 위해선 1초씩 더 걸린다.

    상근이의 할머니는 전화 번호를 각 숫자에 해당하는 문자로 외운다. 즉, 어떤 단어를 걸 때, 각 알파벳에 해당하는 숫자를 걸면 된다. 예를 들어, UNUCIC는 868242와 같다.

    할머니가 외운 단어가 주어졌을 때, 이 전화를 걸기 위해서 필요한 최소 시간을 구하는 프로그램을 작성하시오.

- 입력  
    첫째 줄에 알파벳 대문자로 이루어진 단어가 주어진다. 단어의 길이는 2보다 크거나 같고, 15보다 작거나 같다.

- 출력  
    첫째 줄에 다이얼을 걸기 위해서 필요한 최소 시간을 출력한다.

    예제 입력|예제 출력
    -|-
    WA|13
    UNUCIC|36

### 풀이1

In [19]:
text = list( map(str, input()) )
time = 0
for t in text:
    if t in 'ABC':
        time += 3
    elif t in 'DEF':
        time += 4
    elif t in 'GHI':
        time += 5
    elif t in 'JKL':
        time += 6
    elif t in 'MNO':
        time += 7
    elif t in 'PQRS':
        time += 8
    elif t in 'TUV':
        time += 9
    elif t in 'WXYZ':
        time += 10
print(time)

36

### 풀이2

In [22]:
text = list( map(str, input()) )
time = 0
dict = {'ABC':3, 'DEF':4, 'GHI':5, 'JKL':6, 'MNO':7, 'PQRS':8, 'TUV':9, 'WXYZ':10}
for t in text:
    for k in dict:
        if t in k:
            time += dict[k]
print(time)

36

## 2941번 - 크로아티아 알파벳

- 문제  
    예전에는 운영체제에서 크로아티아 알파벳을 입력할 수가 없었다. 따라서, 다음과 같이 크로아티아 알파벳을 변경해서 입력했다.

    크로아티아 알파벳|변경
    -|-
    č|c=
    ć|c-
    dž|dz=
    đ|d-
    lj|lj
    nj|nj
    š|s=
    ž|z=

    예를 들어, ljes=njak은 크로아티아 알파벳 6개(lj, e, š, nj, a, k)로 이루어져 있다. 단어가 주어졌을 때, 몇 개의 크로아티아 알파벳으로 이루어져 있는지 출력한다.

    dž는 무조건 하나의 알파벳으로 쓰이고, d와 ž가 분리된 것으로 보지 않는다. lj와 nj도 마찬가지이다. 위 목록에 없는 알파벳은 한 글자씩 센다.

- 입력  
    첫째 줄에 최대 100글자의 단어가 주어진다. 알파벳 소문자와 '-', '='로만 이루어져 있다.

    단어는 크로아티아 알파벳으로 이루어져 있다. 문제 설명의 표에 나와있는 알파벳은 변경된 형태로 입력된다.

- 출력  
    입력으로 주어진 단어가 몇 개의 크로아티아 알파벳으로 이루어져 있는지 출력한다.

    예제 입력|예제 출력
    -|-
    ljes=njak|6
    ddz=z=|3
    nljj|3
    c=c=|2
    dz=ak|3

In [87]:
sp_list = ['c=', 'c-', 'dz=', 'd-', 'lj', 'nj', 's=', 'z=']
text = 'c=c='
word_list = []
for sp in sp_list:
    if sp in text:
        word_list.append(sp)
        text = text.replace(sp, ' ')
text

'  '

In [88]:
word_list

['c=']

In [89]:
list( map(str, text) )

[' ', ' ']

In [90]:
len( list( map(str, text) ) )

2

### 풀이1

In [85]:
text = input()
sp_list = ['c=', 'c-', 'dz=', 'd-', 'lj', 'nj', 's=', 'z=']
for sp in sp_list:
    if sp in text:
        text = text.replace(sp, ' ')
print( len(list( map(str, text))) )

3

In [73]:
'dz=ak'.count('=')

1

In [74]:
c = input().count
print( c('') - 1 - sum(map(c, ['-','=','nj','lj','dz='])) )

3

In [77]:
c

In [75]:
c('')

6

In [78]:
sum(map(c,['-','=','nj','lj','dz=']))

2

### 풀이2

In [79]:
# 백준 숏코딩 참고(제출번호 : 34104481, 아이디 : 1492milk)
    # 입력 : dz=ak
c=input().count;print(c('')-1-sum(map(c,['-','=','nj','lj','dz='])))

3

## 1316번 - 그룹단어 체커

- 문제  
    그룹 단어란 단어에 존재하는 모든 문자에 대해서, 각 문자가 연속해서 나타나는 경우만을 말한다. 예를 들면, ccazzzzbb는 c, a, z, b가 모두 연속해서 나타나고, kin도 k, i, n이 연속해서 나타나기 때문에 그룹 단어이지만, aabbbccb는 b가 떨어져서 나타나기 때문에 그룹 단어가 아니다.

    단어 N개를 입력으로 받아 그룹 단어의 개수를 출력하는 프로그램을 작성하시오.

- 입력  
    첫째 줄에 단어의 개수 N이 들어온다. N은 100보다 작거나 같은 자연수이다. 둘째 줄부터 N개의 줄에 단어가 들어온다. 단어는 알파벳 소문자로만 되어있고 중복되지 않으며, 길이는 최대 100이다.

- 출력  
    첫째 줄에 그룹 단어의 개수를 출력한다.

    예시 입력|예시 출력
    -|-
    3</br>happy</br>new</br>year|3
    4</br>aba</br>abab</br>abcabc</br>a|1
    5</br>ab</br>aa</br>aca</br>ba</br>bb|4
    2</br>yzyzy</br>zyzyz|0
    1</br>z|1

In [93]:
r = 1
n = 0
result = 0
for i in range(r):
    text = 'happy'
    # 조건문
    s = ''
    for j, t in enumerate(text[:-1]):
        num = 1
        if t == text[j+1]:
            num += 1
        else:
            s = s + t + str(num)
for sp in s:
    try:
        int(sp)
    except:
        if text.count(sp) == 1:
            n += 1
        else:
            pass
print(n)
if n != 0:
    result += 1
print(result)

2
1

In [103]:
text = 'abab'
temp =''
result = ''
for one in text:
    if one != temp:
        temp = one
        result += one
    else:
        pass
result

'abab'

In [104]:
final = []
for two in result:
    if result.count(two) != 1:
        final.append(1)
final

[1, 1, 1, 1]

In [106]:
n = 0
if len(final) == 0:
    n += 1
n

0

In [108]:
n = 0
text = 'happy'
temp =''
result = ''
for one in text:
    if one != temp:
        temp = one
        result += one
    else:
        pass
final = []
for two in result:
    if result.count(two) != 1:
        final.append(1)
if len(final) == 0:
    n += 1
n

1

### 풀이1

In [111]:
r = int(input())
num_group_word = 0
for i in range(r):
    text = input()
    temp =''
    sorted_text = ''
    for one in text:
        if one != temp:
            temp = one
            sorted_text += one
        else:
            pass
    eval_list = []
    for two in sorted_text:
        if sorted_text.count(two) != 1:
            eval_list.append(1)
    if len(eval_list) == 0:
        num_group_word += 1
print(num_group_word)

4

In [125]:
a = 0
for i in range(int(input())):
    b = input()
    a+=list(b) == sorted(b, key=b.find)
    print(b)
    print(list(b))
    print(sorted(b, key=b.find))
    print(list(b) == sorted(b, key=b.find))
    print(a)
print(a)

aaabbc
['a', 'a', 'a', 'b', 'b', 'c']
['a', 'a', 'a', 'b', 'b', 'c']
True
1
aaabbca
['a', 'a', 'a', 'b', 'b', 'c', 'a']
['a', 'a', 'a', 'a', 'b', 'b', 'c']
False
1
1

In [129]:
'aaabbca'.find('a')

0

In [132]:
sorted('aaabbca')

['a', 'a', 'a', 'a', 'b', 'b', 'c']

In [133]:
sorted('aaabbca', key='aaabbca'.find)

['a', 'a', 'a', 'a', 'b', 'b', 'c']

In [130]:
'aaabbca'.find('b')

3

In [131]:
'aaabbca'.find('c')

5

In [134]:
test = 'bbbcca'
sorted(test)

['a', 'b', 'b', 'b', 'c', 'c']

In [135]:
sorted(test, key=test.find)

['b', 'b', 'b', 'c', 'c', 'a']

In [136]:
test2 = 'bbbccab'
sorted(test2)

['a', 'b', 'b', 'b', 'b', 'c', 'c']

In [137]:
sorted(test2, key=test2.find)

['b', 'b', 'b', 'b', 'c', 'c', 'a']

### 풀이2

In [139]:
# 백준 숏코딩 (제출번호 : 43906753, 아이디 : vaet30)
b=0
for _ in range(int(input())):
    a=input()
    b+=[*a]==sorted(a,key=a.find)
print(b)

4

# 코드 마지막