In [3]:
a = "hello world. I'm evo. Please let me know what your name."
a.split('e')

['h',
 "llo world. I'm ",
 'vo. Pl',
 'as',
 ' l',
 't m',
 ' know what your nam',
 '.']

In [6]:
import pandas as pd
df = pd.DataFrame({'fruit':['apple', 'banana', 'melon'], 'animal':['dog', 'cat', 'cameleon'], 'tool':['pencil', 'knife', 'roller']})
df

    fruit    animal    tool
0   apple       dog  pencil
1  banana       cat   knife
2   melon  cameleon  roller

In [14]:
df['fruit'].str.split('a')

0       [, pple]
1    [b, n, n, ]
2        [melon]
Name: fruit, dtype: object

In [12]:
df['fruit'].str.split('a', n=1, expand=True)

       0     1
0         pple
1      b  nana
2  melon  None

In [13]:
df['fruit'].str.split('a', n=2, expand=True)

       0     1     2
0         pple  None
1      b     n    na
2  melon  None  None

In [15]:
df['fruit'].str.split('a', n=2)

0      [, pple]
1    [b, n, na]
2       [melon]
Name: fruit, dtype: object